DIV.normal {font-size:11px; line-height:17px;}

TD, BODY {font-family:verdana,arial,helvetica,sans-serif; font-size:11px;}
a:link, a:visited { color:#385400; text-decoration: underline;}
a:hover, a:active { color:#6FA600; text-decoration: underline;}

.asbMenuL2 {padding-top:8px; padding-bottom:8px; padding-left:1px; font-size:11px; font-family:verdana,arial,helvetica,sans-serif;}
.asbMenuL2ItemCurrent {font-weight:bold;}
a.asbMenuL2Item, a.asbMenuL2Item:visited {color:#6FA600; text-decoration:underline;}
a.asbMenuL2Item:hover, a.asbMenuL2Item:active {color:#385400; text-decoration:underline;}

/* Content Frame Components */
	/* Content Frame Top */
		/* Block Common Attributes */
		.asbCFrameTopUpperRow, .asbCFrameTopLowerRowLeft, .asbCFrameTopLowerRowRight, .asbCFrameTopLowerRowCombined, .asbCFrameTopLowerExtraRow, .asbCFrameTopLowerRowCombinedRight, .asbCFrameTopLowerRowCombinedLeft, .asbCFrameTopLowerExtraRowFull {border-color:#355001;}
		.asbCFrameBorder {background-color:#355001;}
		
		/* Styles for upper row (1 of 2) */
			.asbCFrameTopUpperRow, .asbCFrameTopUpperRowCnr {background-color:#D6DAB2;}
			.asbCFrameTopUpperRow {border-top-width:1px; border-top-style:solid; padding-top:2px; padding-bottom:2px; font-weight:bold; font-size:12px;}
		
		/* Styles for lower row (2 of 2) */
			.asbCFrameTopLowerRowHeightSet {padding:3px 0px 3px 0px;}
			.asbCFrameTopLowerRowCombinedRight, .asbCFrameTopLowerRowCombinedLeft, .asbCFrameTopLowerRowLeft, .asbCFrameTopLowerRowRight {background-color:#FFE28D; font-weight:bold; font-size:11px; padding:3px 0px 3px 10px;}
		
			/* Styles for split lower row */
			.asbCFrameTopLowerRowLeft, .asbCFrameTopLowerRowRight, .asbCFrameTopLowerRowCombined {background-color:#FFE28D; font-weight:bold; font-size:11px; padding:3px 0px 3px 10px;}
			.asbCFrameTopLowerRowLeft {border:1px solid;}
			.asbCFrameTopLowerRowRight {border-bottom:1px solid; border-top:1px solid;}
			.asbCFrameTopLowerRowCombined {border-style:solid; border-width:1px 0px 1px 1px;}
		
			/* Styles for single lower row (i.e. no separate cells) */
			.asbCFrameTopLowerRowCombinedRight, .asbCFrameTopLowerRowCombinedLeft {background-color:#FFE28D; border-bottom:1px solid; padding:3px 0px 3px 10px;}
			.asbCFrameTopLowerRowCombinedLeft {border-left:1px solid; padding-left:10px; font-size:11px; font-weight:bold;}	/* HACK: Repeating properties here fixes issues with Mozilla */
			
		/* Styles for extra bottom row */
			.asbCFrameTopLowerExtraRow, .asbCFrameTopLowerExtraRowFull {border-bottom:1px solid; background-color:#FFFCCC; padding:4px 0px 4px 5px; font-weight:bold; font-size:11px;}	/* Full Width Extra Row */
			.asbCFrameTopLowerExtraRow {border-right:1px solid;}
	
		/* Styles for Sign Detail Page "Look up another Word" cell */
			.asbCFrameCellAnotherWordLeft, .asbCFrameCellAnotherWordRight {background-color:#AFB577; border-color:#355001; font-weight:bold; font-size:11px; padding:0px 2px 0px 2px;}
			.asbCFrameCellAnotherWordRight {border-right:1px solid;}
			.asbCFrameCellAnotherWordLeft {border-left:1px solid;}
			A.asbBtnAnotherWord {font-weight:bold; font-size:11px; color:#385400; text-decoration:none;}
			A.asbBtnAnotherWord:HOVER {text-decoration:underline; color:#385400;}
	
	/* Content Frame Left Column */
		/* Content Blocks */
			/* Block Common Attributes */
			.asbCFrameLeftMidBlock, .asbCFrameLeftUpperBlock, .asbCFrameLeftUpperBlockSearch, .asbCFrameLeftLowerBlock {padding:10px 8px 12px 8px; border-left:1px solid; border-right:1px solid; border-color:#355001;}
			.asbCFrameLeftMidBlock, .asbCFrameLeftUpperBlock, .asbCFrameLeftUpperBlockSearch {border-bottom:1px solid;}
	
			/* Top-most content block */
				.asbCFrameLeftUpperBlock {background-color:#BEB564;}
				.asbCFrameLeftUpperBlockSearch {background-color:#AFB577;}
	
			/* Optional middle content block */
				.asbCFrameLeftMidBlock {background-color:#FFFCCC;}
		
			/* Bottom-most content block (to match rounded-off end graphic) */
				.asbCFrameLeftLowerBlock {background-color:#FFE28D;}
	
			/* Tab Block */
				.asbCFrameLeftFSViewer, .asbCFrameLeftFSTabBlock {border-left:1px solid; border-right:1px solid; border-color:#355001; background-color:#AFB577;}
				.asbCFrameLeftFSViewer {padding:15px 10px 15px 10px; text-align:center;}
				.asbCFrameLeftFSTabBlock {padding:0px;}
	
		/* Text styles for left block(s) content */	
			.asbCFrameLeftText, .asbCFrameLeftTextDark {font-size:11px; line-height:16px; margin-top:0px; margin-bottom:7px; text-align:justify;}
			.asbCFrameLeftTextDark {color:#000000;}
			.asbCFrameLeftHeading {font-size:11px; font-weight:bold; margin-bottom:5px;}

			.asbCFrameLeftPromptHeading {font-size:11px; line-height:11px; margin-top:5px; margin-bottom:0px; text-align:left; font-weight:bold;}
			.asbCFrameLeftPromptText {font-size:11px; line-height:16px; margin-top:5px; margin-bottom:5px; text-align:left;}
			

.asbLoginstatusText {font-size:10px; line-height:10px; margin-top:4px; margin-bottom:3px;}
.asbCopyright {font-size:10px; margin-left:5px; margin-top:3px;}

H2 {font-size:11px; font-weight:bold; margin:15px 0px 3px 0px;}

P, .asbBodyText, LI {font-size:11px; line-height:17px;}
.asbBodyIntro {font-weight:bold; font-size:11px; line-height:17px;}

P {margin:2px 0px 18px 0px;}
LI {margin-top:3px;}
UL.asbBodyText {padding-left:10px; margin-left:10px;}
.asbBoxText {font-size:11px; line-height:15px;}
.asbBodyCell {padding:25px 10px 0px 20px;}
.asbBanner {margin:8px 0px 5px 0px;}



UL.asbTOC {list-style-type:none; margin:3px 0px 30px 0px; padding:0px 0px 3px 0px; border-bottom:1px solid #D6DBB5;}
LI.asbTOC {margin:3px 0px 13px 0px; font-weight:bold; font-size:11px;}

.asbListBulleted {font-size:11px; line-height:17px;}
UL.asbListBulleted {margin:2px 0px 18px 0px; padding:0px; list-style-type:disc;}
LI.asbListBulleted {list-style-position:outside; margin:3px 0px 8px 18px;}

.asbHelpQuotedLink {font-weight:bold; color:#70A12A;}

.asbLeftInputField {width:205px; border:1px solid #355001; padding:2px; background-color:#FFFFFF;}
.asbLeftInputField:disabled {border:none; background-color:#CCCCCC;}


.asbVideoContainer {width:192px; height:144px; background-color:#FFFFFF; padding:0px;}

/* Page Styles: Home */
	.asbPgeHomeTopBar, .asbPgeHomeTopBarSplitBottom, .asbPgeHomeTopBarSplitTop, .asbPgeHomeTopBarSplitBottomFiller {background-color:#FFE28D; border-color:#355001; border-style:solid;}
	.asbPgeHomeTopBar {border-width:1px 0px 1px 0px;}
	.asbPgeHomeTopBarSplitBottom {border-width:0px;}
	.asbPgeHomeTopBarSplitBottomFiller {border-width:0px 0px 1px 0px;}
	.asbPgeHomeTopBarSplitTop {border-width:1px 0px 0px 0px; padding-top:10px;}


/* Object: Left Login Box */
	.asbObjLeftLoginFrame {border-color:#355001; background-color:#BDB663; border-width:0px 1px 1px 1px; border-style:solid;}
	.asbObjLeftLoginHeadingDiv {padding:10px 0px 5px 0px;}
	.asbObjLeftLoginLoginDiv {padding:0px 0px 12px 10px;}
	.asbObjLeftLoginInputField {width:140px; border:1px solid #355001; padding:2px; background-color:#FFFFFF;}
	
/* Object: Log-In Box */
	.asbObjLogin {margin-top:20px; margin-bottom:10px;}
	.asbObjLoginLoginFrame {border-color:#355001; background-color:#BDB663;}
	.asbObjLoginLoginFormContainer {margin:3px 0px 0px 0px;}
	.asbObjLoginRegisterFrame {border-color:#355001; background-color:#FFE38C;}
	.asbObjLoginRegisterText {font-size:10px; line-height:13px; margin:0px 0px 10px 8px;}
	.asbObjLoginInputField {width:110px; border:1px solid #355001; padding:2px; background-color:#FFFFFF; margin:0px 0px 0px 5px;}

/* Object: Search Results */
	.asbObjSRColumnDivider {border-left-width:1px; border-left-style:solid; border-color:#355001; padding-right:5px;}
	.asbObjSRColumn {padding-left:0px; padding-right:15px;}
	.asbObjSRItem {margin-top:0px; margin-bottom:5px; font-size:13px; line-height:13px;}
	.asbObjSRPageNav {font-size:10px; margin-top:15px;}
	.asbObjSRPageNavCurrentPage {font-weight:bold;}
	.asbObjSRContainer {margin:10px;}
	.asbObjSRMatchCount {margin-top:0px; margin-bottom:15px; font-size:13px; line-height:18px;}

/* Object: Sign Detail Video */
	.asbSignPreview, .asbSignPreviewButtonBar {background-color:#000000;}
	.asbSignPreview {padding:1px;}
	.asbSignPreviewButtonBar {padding:2px; margin:0px; text-align:right;}
	
	.asbSignDist {margin-left:auto; margin-right:auto;}

	.asbSignNewIndicator {padding:3px 5px 3px 5px; font-weight:bold; background-color:#FFE28D; border-bottom:1px solid #000000; text-align:left;}

	
/* Object: Sign Definition */
	.asbObjSDDefNo, .asbObjSDDef {font-size:12px; line-height:18px;}
	.asbObjSDDefNo {font-weight:bold; width:25px;}

	.asbObjSDDefType, .asbObjSDDefType1 {font-weight:bold; font-size:13px; margin-bottom:3px;}
	.asbObjSDDefType1 {margin-top:5px;}	/* Style for first definition type */
	.asbObjSDDefType {margin-top:25px;}	/* Style for subsequent deinition types */

	.asbObjSDDefContainer {border:0px; border-spacing:0px; padding:0px; margin-bottom:3px;}


/* Object Finger Spelling Viewer */
	.asbObjFSPreviewContainer, .asbObjFSPreviewButtonBar {background-color:#000000;}
	.asbObjFSPreviewContainer {padding:1px;}
	.asbObjFSPreviewButtonBar {padding:3px; text-align:right; font-size:9px; color:#FFFCCC;}
	A.asbObjFSPreviewSpeedOptionNRM, A.asbObjFSPreviewSpeedOptionNRM:VISITED {text-decoration:none; font-weight:normal; color:#FFFCCC;}
	A.asbObjFSPreviewSpeedOptionSEL, A.asbObjFSPreviewSpeedOptionSEL:VISITED {text-decoration:underline; color:#FFFCCC;}
	
/* Object: Finger Spelling Practice Form */
	.asbObjFSPracticeResponse {font-weight:bold;}
	

/* Registration Page Classes */
	.asbRegisterFieldErr {background-color:#FFE38C;}
	.asbRegisterFieldNorm {background-color:inherit;}
	.asbRegisterFieldLabel {font-weight:bold;}
	
	.asbRegisterFieldLabelERR {color:red; font-weight:bold;}
	
	.asbRegisterErrMsg {font-weight:bold; color:Red; background-color:#FFE38C; border:1px solid #DDC35C;}
	.asbRegisterErrMsgFieldList {font-weight:bold; padding:0px 0px 0px 20px; margin:3px 0px 5px 0px;}

	.asbRegContainer {width:400px;}
	
	input.asbRegisterRadio {}
	DIV.asbRegisterRadioOption {margin:0px 0px 2px 0px;}

	
/* Sign Input Form (i.e. Missing Sign) */
	.asbSIFDivider {clear:both; display:block; padding:1px;}
	.asbSIFQuestionText {float:left; font-weight:bold; padding:2px;}
	.asbSIFGuideButton {float:right;}
	
	/*
	.teQuestionInput {margin-left:2px; padding-top:4px;}
	.teQuestionInput {}
	*/
	
	.teTestQuestionNumber, .teTestQuestionText, .teTestQuestionInstruction, .teTestText {font-size:11px; line-height:17px;}
	
	.teTestContainer {}
		.teTestQuestionsContainer {margin-top:-20px;}
			.teTestText {margin-bottom:-10px; margin-top:10px;}
		
			.teTestQuestionContainer {font-size:11px; line-height:17px;}
				.teTestQuestionHead {margin-top:20px;}
					.teTestQuestionNumber {margin-top:0px; margin-bottom:5px;}
					.teTestQuestionText {font-weight:bold;}
					.teTestQuestionInstruction {margin:5px 0px 2px 0px;}
			
					.teTestQuestionControl {padding:0px; border-spacing:0px;}
					TABLE.teTestQuestionControl TD {padding:1px;}


		
	.teTestText {margin-top:25px;}

	.teTestSubmitContainer {width:100%; margin-top:30px; border-top:1px solid #D6DBB5;}
	.teTestSubmitContainer TD {padding-top:5px;}
    
    
    
/* additions by Steve Cassidy */


#states {
    background-color: black;
    padding: 0px;
    height: 31px;
    width: 209px;
}

#states img {
    padding: 0px;
    margin: 0px;
    margin-right: -5px;
    border: 1px solid black;
}


.feedbackQuestion {
    font-weight: bold;
}

#signfeedback ul li {
    list-style-type: none;
}

form .errors {
   border: 1px solid black;
   padding: 3px; 
    
}
#userdetails td {
    text-align: right;
}
#userdetails input {
      width: 20em;
}
.errorlist {
    background-color: red;   
    font-weight: bold;
    color: white;
    font-size: large;
}

/* styles for registration form  */

#registrationform  ul li {
    list-style-type: none;
}


/* video playback message under definition videos */
.videoReplayMessage {
    background: black;
    text-align: center;
}

.videoReplayMessage p {
    margin: 5px;   
}



