@import url('tags.css');

#header h1 {
	color: #FFFF66;
	font-family: "Arial Rounded MT Bold", "Arial Rounded", serif;
}

#content {
	margin: 0em;
	padding: 0em;
}

#footer {
	padding-left: 0em;
	padding-right: 0em;
}

#footer .btn-feedback {
	/* Cheating/shortcut */
	/*
	float: right;
	position: relative;
	left: -2.4em;*/
	margin-bottom: 1.6em;
	margin-top: 0.7em;
	margin-left: 1em;
}

#copyright {
	float: left;
	clear: both;
	font-weight: normal;
	margin-left: 1em;
	margin-right: 0em;
}

/* === WORD PAGE === */

#matches h2 {
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	margin: 0px 0px 5px 0px;
}

#matches ul li a {
	font-family: "Menlo", monospace;
}

#matcheslinks {
	font-size: small;
	margin: 0 auto;
	text-align: center;
}

#keywords {
	text-align: center;
}
#keywords p {
	margin: 0.5em 0px 1em 0px;
}

#signinfo {
	font-size: small;
	margin: 0 auto;
	text-align: center;
}

.sign-position {
	color: #777;
}

.sign-position em {
	font-style: normal;
	color: #333;
}

#states {
	text-align: center;
}

#videocontainer {
	/* moving block 15px left to tune android display - check on other devices */
	margin: auto;
	text-align: center;
	padding: 0em;
}

#videocontainer iframe {
    height: 240px;
    width: 320px;
}

/*
#info-wrapper, #footer-info-wrapper {
	max-width: 800px;
	margin: 0 auto;
}
*/

video {
  image-fit: fill;
  max-width: 100%;
  height: auto;
}

h3 {
	color: #444;
}

