{% extends "pages/default.html" %}

{% block topcontent %}

<div id="mainlinks">
        <ul data-role="listview" data-inset="true">
           <li id="sigbanklink"><a title="Search the SignBank Dictionary" href="/dictionary/"><span>SignBank</span></a></li>
           <li id="medicallink"><a title="Search the Medical SignBank" href="/medical/"><span>Medical SignBank</span></a></li>
           <li id="fingerspelllink"><a title="Explore Finger Spelling Signs" href="/spell/twohanded.html"><span>Finger Spelling</span></a></li> 
           <li id="numsignlink"><a title="Explore Number Signs" href="/numbersigns.html"><span>Number Signs</span></a></li>
        </ul>
</div> 

{% endblock %}