{% extends "baselayout.html" %}

{% block jqueryready %}
    config = {
        plugins: { 
                controls: null 
        },
        play: { opacity: 0 }
    };
       
    $('#player').hide();
{% endblock %}

{% block script %}
    function play(url) {
        $('#player').show('slow', function() {	
            flowplayer("player", "{% auslan_static_prefix %}flowplayer3/flowplayer-3.0.2.swf", config);
            $f('player').play(url);
        });
    }

    function replay() {
        $f('player').play();
    }
{% endblock %}

{% block bodyid %}id='pages'{% endblock %}


{% block content %}

{# show the edit button if the user has permission to change pages #}
{% if perms.pages.change %}
<div id="editbutton">
    <a href="/admin/pages/page/{{page.id}}/">[Edit]</a>
</div>
{% endif %}

{% if page.pagevideo_set.all %}

    <div id="videocontainer">
        <div id="player"></div>
        <table>
        {% for video in page.pagevideo_set.all %}
            <tr><td><a href="#" onclick="play('{% auslan_media_prefix %}{{video.video}}')">{{video.title}}</a></td></tr>
        {% endfor %} 
        </table>
    </div>
{% endif %}

{% block pagecontent %}
   {{ page.content }}
{% endblock %}

  {% block bottomcontent %}
  {% endblock %}

{% endblock %}