{% extends "baselayout.html" %}

{% block content %}
  
<script type="text/javascript" src="{% auslan_static_prefix %}/mediaplayer/swfobject.js"></script>
 
<div id="player">This text will be replaced</div>
<script type="text/javascript">
var so = new SWFObject('{% auslan_static_prefix %}/mediaplayer/player.swf','mpl','520','240','9');
so.addParam('allowscriptaccess','always'); 
so.addParam('flashvars','&file={{page.url}}?playlist&playlist=right&playlistsize=200&controlbar=none&autostart=true');
so.write('player');
</script>

   {{ page.content }}

{% endblock %}