{% extends "pages/default.html" %}

{% block bottomcontent %}

<div id="mainlinks">
    <table>
        <tr>
           <td><a href="/dictionary/">SignBank</a></td>
           <td><a href="/medical/">Medical SignBank</a></td>
           <td><a href="/spell/twohanded.html">Fingerspelling <br>Two Handed</a></td>
           <td><a href="/spell/onehanded.html">Fingerspelling <br>One Handed</a></td>
           <td><a href="/numbersigns.html">Number Signs</a></td>
        </tr>
    </table>
</div>

{% endblock %}