<!DOCTYPE html>
<html>
  <head>
  
  
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
  
    <title>{% block pagetitle %}Auslan - Signbank{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
    <link rel="stylesheet" href="{% auslan_static_prefix %}css/mobile.css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>
   

{% block extrahead %}

{% endblock %}

    <!-- google analytics code --> 

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3928964-1");
pageTracker._initData();
pageTracker._trackPageview();
</script> 

  </head>
 
  <body {% block bodyid %}{% endblock %}>

  <div data-role="page" class="page"> 
    <div id="header" data-role="header">
      <a href="/" data-transition="pop" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
      <h1>Auslan - Signbank</h1>
      <div data-role="navbar">
        <ul>
	      {% for item in menu %}
	         {# don't include Home, since we have a link for that in the header #}
	         {% ifnotequal item.url "/" %}
	         <li><a {% if item.current %}class='ui-btn-active'{% endif %} href="{{item.url}}">{{item.title}}</a></li>
	         {% endifnotequal %}
	      {% endfor %}
        </ul>
      </div>
      <a href="{% url signbank.dictionary.views.index version="dictionary"%}" data-role="button" data-icon="search" data-iconpos="notext">Search</a>
    </div>

    <div data-role="content">
      <div>{% block content %}<p>Content</p>{% endblock %}</div>
    
    </div>
    
    
    {# add child pages as a list of links #}
    {% for item in menu %}
      {% if item.current and item.children %}
      <div>
	      <ul data-role="listview">
		      {% for subitem in item.children %}
		        <li><a href="{{subitem.url}}">{{subitem.title}}</a></li>
		      {% endfor %} 
	      </ul>
	  </div>
      {% endif %}
    {% endfor %}
      
  
    <div id="footer" data-role="footer" data-theme="c">    
    <div id="footer-info-wrapper">
      <p id="copyright" style="font-size: smaller; position: relative; top: 3px;">&copy; 2011, Trevor Johnston, Macquarie University. All rights reserved.</p>
      <a href="{% url signbank.feedback.views.generalfeedback %}" class="btn-feedback ui-btn-right" data-role="button" data-inline="true" data-icon="arrow-r">Provide feedback</a> 
    </div> 
    </div> 
  </div> 

  </body>
</html>
