{% extends "baselayout.html" %}

{% block pagetitle %}Auslan: sign for {{ translation.translation }} {% endblock %}

{% block extrahead %}

{% endblock %}


{% block content %}

    {% if feedbackmessage %}
    <div id="feedbackmessage">
        <p>{{ feedbackmessage }}</p>
    </div>
    {% endif %}


	    <div id="matches">
	        {% ifequal viewname "words" %}
	            <h2>Search: <em>{{translation.translation}}</em></h2>
	            <div id='matcheslinks' data-role="controlgroup" data-type="horizontal">
		        {% if n > 1 %}
		        <a data-role="button" data-icon="arrow-l" href="{{translation.translation}}-{{n|add:"-1"}}.html">&nbsp;</a>
		        {% endif %}
				<span data-role='button'>Match {{n}} of {{matches|length}}</span>
		        {% if n < matches|length %}
		        <a data-role="button" data-icon="arrow-r" data-iconpos="right" href="{{translation.translation}}-{{n|add:"1"}}.html">&nbsp;</a>
		        {% endif %}		  
		        </div>      
		        
	        {% else %}
	            <div id='matcheslinks' data-role="controlgroup" data-type="horizontal">	            
	             <a  data-role='button' data-inline='true' href="{% url signbank.views.index %}{{flavour}}/words/{{lastmatch}}.html">Return to Matches</a>
	            </div>
	        {% endifequal %}
	        
	    </div><!-- End #matches -->

		<div id="keywords"> 
	         <p><strong>Keywords:</strong>
	         {% for kwd in allkwds %}
	           {% ifequal translation.translation kwd.translation %}<b>{{ kwd.translation }}</b>{% else %}{{ kwd.translation }}{% endifequal %}{% if not forloop.last %},{% endif %}
	         {% endfor %}
	         </p>
	    </div>
	     
    <div id="video-container">             
    {% if videofile %}
    <div class="video-js-box">
     <video id="video" 
            class="video-js" 
            {# TODO: make thumbnail images for all videos and use here #}
            poster="{% auslan_static_prefix %}images/60440-thumb.mp4.jpg" 
            controls="controls"
            preload="auto">
        <source src="{% auslan_media_prefix %}{{ videofile }}'" 
                type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
      </video>
    {% else %} 
    <img src='{% auslan_static_prefix %}images/no-video.png'>
    {% endif %}
    </div>
    <!-- End VideoJS -->
	</div>
	
	<div id="signinfo">
	    <div id="signs">
	        <div data-role="controlgroup" data-type="horizontal">
	            {% if navigation.prev %}
	              <a data-role="button" data-inline="true" data-icon="arrow-l" href="/{% url signbank.views.index %}{{flavour}}/gloss/{{navigation.prev.idgloss}}.html?lastmatch={{lastmatch}}">&nbsp;</a>
	            {% endif %}
	            <span data-role='button' data-inline='true'>Sign <em>{{glossposn}}</em> of <em>{{glosscount}}</em></span>
	            {% if navigation.next %}
	             <a data-role="button" data-inline="true" data-icon="arrow-r" href="/{% url signbank.views.index %}{{flavour}}/gloss/{{navigation.next.idgloss}}.html?lastmatch={{lastmatch}}">&nbsp;</a>
	            {% endif %}
	        </div>
	    </div><!-- End #signs -->
	

	    

	</div><!-- End #signinfo -->




<div id="word-info-wrapper">

    <div id="definition">
        <h2>Sign Definition</h2>
 
        {% if definitions.general %} 
          <h3>General Definition</h3>
         
          <ol>
          {% for def in definitions.general %}
            <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
 
        {% if definitions.noun %} 
          <h3>As a Noun</h3>
         
          <ol>
          {% for def in definitions.noun %}
            <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
          
        {% if definitions.verb %} 
          <h3>As a Verb or Adjective</h3> 
          <ol>
          {% for def in definitions.verb %}
            <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
          
          
        {% if definitions.interact %} 
          <h3>Interactive</h3> 
          <ol>
          {% for def in definitions.interact %}
              <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
          
        {% if definitions.deictic %} 
          <h3>As a Pointing Sign</h3> 
          <ol>
          {% for def in definitions.deictic %}
            <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
          
          
        {% if definitions.modifier %} 
          <h3>As Modifier</h3> 
          <ol>
          {% for def in definitions.modifier %}
              <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
        
          
        {% if definitions.question %} 
          <h3>As Question</h3> 
          <ol>
          {% for def in definitions.question %}
              <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
          
        {% if definitions.augment %} 
          <h3>Augmented Meaning</h3> 
          <ol>
          {% for def in definitions.augment %}
              <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}

        {% if definitions.note %} 
          <h3>Note</h3> 
          <ol>
          {% for def in definitions.note %}
              <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}

    </div>


        <div>
           <h4>Sign Distribution</h4> 
                <ul>
                {% ifequal dialect_image "images/maps/allstates.gif" %}
                  <li>All States</li>
                {% else %}
	                {% for dialect in gloss.dialect.all %}
	                  <li>{{ dialect.name }}</li>
	                {% endfor %}
                {% endifequal %}
                </ul>  
        </div>

    {% if dialect_image %}
    <div id="states">      
        <div>
            <img src="{% auslan_static_prefix %}{{dialect_image}}" alt="States"></img>
        </div>
    </div> 
    {% endif %}


	<h2>Feedback</h2>

	     <div id="feedback">
            <ul data-role="listview" data-inset="true">
                {% ifequal viewname "words" %}
                <li><a href="{% url signbank.views.index %}feedback/sign/{{translation.translation}}-{{n}}.html?return=/{{flavour}}/words/{{translation.translation}}-{{n}}.html">Give sign feedback</a></li>
                {% else %}
                <li><a href="{% url signbank.views.index %}feedback/gloss/{{gloss.idgloss}}.html?return=/{{flavour}}/gloss/{{gloss.idgloss}}.html&lastmatch={{lastmatch}}">Give sign feedback</a></li>
                {% endifequal %}
                
                <li><a href="{% url signbank.views.index %}feedback/missingsign.html">Report a missing sign</a></li>
                <li><a href="{% url signbank.views.index %}feedback/generalfeedback.html">Give general feedback</a></li>
            </ul> 
        </div>
    


</div><!-- End #word-info-wrapper -->
{% endblock %}

