<!DOCTYPE HTML>
<html>
 <head>
 </head> 
 <body id='signbody'>
     
     
     <object type="application/x-shockwave-flash" 
             id="VideoPlayer" 
             data="http://jarisflvplayer.org/files/JarisFLVPlayer.swf" 
             width="640px" height="360px">
       <param name="menu" value="false">
       <param name="scale" value="noScale">
       <param name="allowFullscreen" value="true">
       <param name="allowScriptAccess" value="always">
       <param name="bgcolor" value="#000000">
       <param name="quality" value="high">
       <param name="wmode" value="opaque">
       <param name="flashvars" value="source={{videourl}}&amp;type=video&amp;streamtype=file&amp;controltype=0&amp;duration=4&amp;poster={{posterurl}}&amp;aspectratio=&amp;autostart=true&amp;hardwarescaling=false&amp;controls=false&amp;darkcolor=000000&amp;brightcolor=4c4c4c&amp;controlcolor=FFFFFF&amp;hovercolor=67A8C1&amp;seekcolor=D3D3D3&amp;jsapi=true">
     </object>
     
</body>
</html>
