{% extends "baselayout.html" %}


{% block content %}


<form id='adminsearch'>
    <table class='table'>
        <tr>
            <td><label for='id_idgloss'>{{searchform.search.label}}</label>{{searchform.search}}</td>
            <td colspan=2><label for='id_tags'>Tags</label> {{searchform.tags}}</td>
        </tr>
        <tr id='searchpanels'>
            <td>
                <table>
                    <tr><td><label for='id_dialect'>{{searchform.dialect.label}}</label></td><td>{{searchform.dialect}}</td></tr>
                    <tr><td><label for='id_language'>{{searchform.language.label}}</label></td><td>{{searchform.language}}</td></tr>
                </table>
            </td>
            <td>
                <table>
                    <tr><td><label for='id_inWeb'>{{searchform.inWeb.label}}</label></td><td>{{searchform.inWeb}}</td></tr>
                </table>
            </td>
            <td>
            <table>
                    <tr><td><label for='id_domhndsh'>{{searchform.domhndsh.label}}</label></td><td>{{searchform.domhndsh}}</td></tr>
                    <tr><td><label for='id_subhndsh'>{{searchform.subhndsh.label}}</label></td><td>{{searchform.subhndsh}}</td></tr>
                    <tr><td><label for='id_locprim'>{{searchform.locprim.label}}</label></td><td>{{searchform.locprim}}</td></tr>
                    <tr><td><label for='id_locsecond'>{{searchform.locsecond.label}}</label></td><td>{{searchform.locsecond}}</td></tr>
                    <tr><td><label for='id_final_domhndsh'>{{searchform.final_domhndsh.label}}</label></td><td>{{searchform.final_domhndsh}}</td></tr>
                    <tr><td><label for='id_final_subhndsh'>{{searchform.final_subhndsh.label}}</label></td><td>{{searchform.final_subhndsh}}</td></tr>
                    <tr><td><label for='id_final_loc'>{{searchform.final_loc.label}}</label></td><td>{{searchform.final_loc}}</td></tr>
                </table>
            </td>
        </tr>
        
    </table>
    <input class='btn' type='submit' name='submit' value='Search'>
    <input class='btn' type='reset'>
</form>



<table class='table'>
    <thead>
      <tr>
        <th>SN</th>
        <th>Annotation IDGLOSS</th>
        <th>IDGLOSS</th>
        <th>Morphology</th>
        <th>Tags</th> 
      </tr>
    </thead>
    <tbody>
    {% for gloss in object_list %}
        <tr>
            <td><a href="/dictionary/gloss/{{gloss.pk}}/">{{gloss.sn}}</a></td>
            <td>{{gloss.annotation_idgloss}} {% if not gloss.inWeb %}*{% endif %}</td>
            <td>{{gloss.idgloss}}</td>
            <td>{{gloss.morph}}</td>
            <td>{% for tag in gloss.tags %}<span class='badge'>{{tag}}</span> {% endfor %}</td>
            
        </tr>
    {% empty %}
        <tr><td>No Glosses</td></tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt;&lt;previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next&gt;&gt;</a>
        {% endif %}
    </span>
</div>


{% endblock content %}
