{% extends 'baselayout.html' %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
    <script type='text/javascript'>
     $(document).ready(function() {
         var edit_post_url = '/fboingr/';
         
         $('.edit').editable(edit_post_url, {
             submitdata  : {'gloss': '{{gloss.id}}'},
             indicator : 'Saving...',
             tooltip   : 'Click to edit...',
             cancel    : 'Cancel',
             submit    : 'OK'
         });
         $('.edit_area').editable(edit_post_url, { 
             submitdata  : {'gloss': '{{gloss.id}}'},
             type      : 'textarea',
             cancel    : 'Cancel',
             submit    : 'OK',
             tooltip   : 'Click to edit...'
         });
         $('.edit_language').editable(edit_post_url, { 
             submitdata  : {'gloss': '{{gloss.id}}'},
             type      : 'select',
             data      : {'Auslan' : 'Auslan', 'BSL': 'BSL'},
             cancel    : 'Cancel',
             submit    : 'OK',
             tooltip   : 'Click to edit...'
         });
         $('.edit_check').editable(edit_post_url, { 
             submitdata  : {'gloss': '{{gloss.id}}'},
             type      : 'checkbox',
             cancel    : 'Cancel',
             submit    : 'OK',
             tooltip   : 'Click to edit...',
             checkbox: { trueValue: 'Yes', falseValue: 'No' }
         });
         
         $('.edit_handshape').editable(edit_post_url, { 
             submitdata  : {'gloss': '{{gloss.id}}'},
             type      : 'select',
             data      : {{gloss.handshape_choices_json|safe}},
             cancel    : 'Cancel',
             submit    : 'OK',
             tooltip   : 'Click to edit...'
         });
         $('.edit_location').editable(edit_post_url, { 
             submitdata  : {'gloss': '{{gloss.id}}'},
             type      : 'select',
             data      : {{gloss.location_choices_json|safe}},
             cancel    : 'Cancel',
             submit    : 'OK',
             tooltip   : 'Click to edit...'
         });
         $('.edit_palm').editable(edit_post_url, { 
             submitdata  : {'gloss': '{{gloss.id}}'},
             type      : 'select',
             data      : {'Auslan' : 'Auslan', 'BSL': 'BSL'},
             cancel    : 'Cancel',
             submit    : 'OK',
             tooltip   : 'Click to edit...'
         });     
      });
    </script>
{% endblock %}


{% block content %}


<div id="signinfo">
    <div id="signs">
            {% if navigation.prev %}
            <div class="prev">
              <a href="{% url root_page %}dictionary/gloss/{{navigation.prev.idgloss}}.html?lastmatch={{lastmatch}}">&laquo; Previous Sign</a>
            </div>
            {% endif %}
            {% if navigation.next %}
            <div class="next">
             <a href="{% url root_page %}dictionary/gloss/{{navigation.next.idgloss}}.html?lastmatch={{lastmatch}}">Next Sign &raquo;</a>
            </div>
            {% endif %}
    </div>
</div>

<div id="definitionblock">
    <div id="leftblock">
    <div id="videocontainer">
    {% if gloss.get_video %}

    <div id="player">
      <iframe width="320" height="240" scrolling="no" frameborder='0'
          src="{% url signbank.video.views.iframe gloss.get_video_number %}">
      </iframe>
    </div>
      <div id="replay"></div>

    {% else %}
    <img src='{{ STATIC_URL }}images/no-video.png'>
    {% endif %}
    </div>

    {% include "dictionary/glosstags.html" %}
</div>

    <div id="keywords">
         <h2>Keywords</h2>
         {% for trn in gloss.translation_set.all %}
           {{ trn.translation }}{% if not forloop.last %},{% endif %}
         {% endfor %}
         </p>
    </div>

    <div id="definition">
        <h2>Sign Definition</h2>

    {% regroup gloss.definition_set.all by role as roles %}
    
    {% for role in roles %}
    
    <h3>{{role.list.0.get_role_display}}</h3>
      
      <ol>
      {% for def in role.list %}     
        <li><div class='edit_area' id='definition_{{def.id}}'>{{def.text}}</div></li>
      {% endfor %}
      </ol>

    {% endfor %}
  
    <h2>Properties</h2>  
  
    <dl class='dl-horizontal'>
        <dt>Sign Number: </dt><dd class='edit' id='sn'>{{gloss.sn}}</dd>
        <dt>IdGloss:</dt><dd class='edit' id='idgloss'>{{gloss.idgloss}}</dd>
        <dt>Annotation ID Gloss:</dt><dd class='edit'  id='annotation_idgloss'>{{gloss.annotation_idgloss}}</dd>
        {% if gloss.sense %}
            <dt>Sense Number</dt><dd class='edit'  id='sense'>{{gloss.sense}}</dd>
            <dt>Homonyms/Homophones</dt>
            <dd>
               <ol>
               {% for h in gloss.homophones %}
                 {% if h == gloss %}
                 <li>{{h.idgloss}}</li>
                 {% else %}
                 <li><a href="/dictionary/gloss/{{h.idgloss}}.html">{{h.idgloss}}</a></li>
                 {% endif %}
               {% endfor %}
               </ol>
            </dd>
        {% endif %}
        <dt>Morphology</dt><dd class='edit' id='morph'>{{gloss.morph}}</dd>
        <dt>Health Related</dt><dd class='edit' id='healthtf'>{{gloss.healthtf}}</dd>
        <dt>Stem Sign Number</dt><dd class='edit' id='stemsn'>{{gloss.StemSN}}</dd>
        <dt>Compound of</dt><dd class='edit' id='compound'>{{gloss.compound}}</dd>
        <dt>Language</dt><dd class='edit_language' id='language'>{% for lang in gloss.language.all %}{{lang.name}}{% endfor %}</dd>
        <dt>Dialect</dt><dd class='edit_dialect' id='dialect'>{% for dia in gloss.dialect.all %}{{dia.name}}{% endfor %}</dd>
    </dl>
    
    <h3>Publication Status</h3>
        
    <dl class='dl-horizontal'>
        <dt>In Web Dictionary</dt><dd class='edit_check' id='inWeb'>{% if gloss.inWeb %}Yes{% else %}No{% endif %}</dd>
        <dt>Proposed New Sign</dt><dd class='edit_check' id='isNew'>{% if gloss.isNew %}Yes{% else %}No{% endif %}</dd>
    </dl>
    
    <h3>Phonology</h3>
        
    <dl class='dl-horizontal'>
        <dt>Palm Orientation</dt><dd class='edit_palm' id='Palm_orientation'>{{gloss.Palm_orientation}}</dd>

        <dt>Dominant Hand Shape</dt><dd class='edit_handshape' id='domhndsh'>{{gloss.get_domhndsh_display}}</dd>
        <dt>Subordinate Hand Shape</dt><dd class='edit_handshape' id='subhndsh'>{{gloss.get_subjndsh_display}}</dd>
        <dt>Final Dominant Hand Shape</dt><dd class='edit_handshape' id='final_domhndsh'>{{gloss.get_final_domhndsh_display}}</dd>
        <dt>Final Subordinate Hand Shape</dt><dd class='edit_handshape' id='final_subhndsh'>{{gloss.get_final_subjndsh_display}}</dd>

        <dt>Primary Location</dt><dd class='edit_location' id='locprim'>{{gloss.get_locprim_display}}</dd>
        <dt>Secondary Location</dt><dd class='edit_location' id='locsecond'>{{gloss.get_locsecond_display}}</dd>
        <dt>Final Location</dt><dd class='edit_location' id='final_loc'>{{gloss.get_final_loc_display}}</dd>
    </dl>
    

    </div>
</div>


{% endblock %}
