{% extends 'baselayout.html' %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
    <script type='text/javascript'>
        
     var edit_post_url = '{% url 'dictionary:update_gloss' gloss.id %}';
     var definition_role_choices = {{gloss.definition_role_choices_json|safe}}
     var handshape_choices = {{gloss.handshape_choices_json|safe}}
     var location_choices = {{gloss.location_choices_json|safe}}
     var palm_orientation_choices = {{gloss.palm_orientation_choices_json|safe}}
     var relative_orientation_choices = {{gloss.relative_orientation_choices_json|safe}}
     var secondary_location_choices = {{gloss.secondary_location_choices_json|safe}}
     var languages = {{gloss.language_choices|safe}};
     var dialects = {{gloss.dialect_choices|safe}};
     var csrf_token = '{{csrf_token}}';
        
    </script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/gloss_edit.js"></script>
{% endblock %}


{% block content %}

<div class='pull-right'>
     <span id='edit_message'></span>&nbsp;<button id='enable_edit' class='btn'>Enable Edit</button>
</div>

<div id="signinfo">
    <div id="signs">
            {% if navigation.prev %}
            <div class="prev">
              <a href="{% url 'root_page' %}dictionary/gloss/{{navigation.prev.idgloss}}.html?lastmatch={{lastmatch}}">&laquo; Previous Sign</a>
            </div>
            {% endif %}
            {% if navigation.next %}
            <div class="next">
             <a href="{% url 'root_page' %}dictionary/gloss/{{navigation.next.idgloss}}.html?lastmatch={{lastmatch}}">Next Sign &raquo;</a>
            </div>
            {% endif %}
    </div>
</div>

<div id="definitionblock">
    <div id="leftblock">
    <div id="videocontainer">
    {% if gloss.get_video %}

        <div id="player">
          <iframe width="320" height="240" scrolling="no" frameborder='0'
              src="{% url 'signbank.video.views.iframe' gloss.get_video_number %}">
          </iframe>
        </div>
        <div id="replay"></div>

    {% else %}
        <img src='{{ STATIC_URL }}images/no-video.png'>
    {% endif %}
    </div>

    {% include "dictionary/glosstags.html" %}
</div>

    <div id="definition">
  
    <table class='table table-condensed'>
        <tr><th>Sign Number:</th><td class='edit edit_text' id='sn'>{{gloss.sn}}</td></tr>
        <tr><th>IdGloss:</th><td class='edit edit_text' id='idgloss'>{{gloss.idgloss}}</td></tr>
        <tr><th>Annotation ID Gloss:</th><td class='edit edit_text'  id='annotation_idgloss'>{{gloss.annotation_idgloss}}</td></tr>
        <tr><th>Keywords</th><td class='edit edit_text' id='keywords'>{% for trn in gloss.translation_set.all %}{{ trn.translation }}{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>
      
 
        {% if gloss.sense %}
            <tr><th>Sense Number</th><td class='edit edit_text'  id='sense'>{{gloss.sense}}</td></tr>
            <tr><th>Homonyms/Homophones</td>
            <td>
               <ol>
               {% for h in gloss.homophones %}
                 {% if h == gloss %}
                 <li>{{h.idgloss}}</li>
                 {% else %}
                 <li><a href="/dictionary/gloss/{{h.idgloss}}.html">{{h.idgloss}}</a></li>
                 {% endif %}
               {% endfor %}
               </ol>
            </td></tr>
        {% endif %}
        <tr><th>Morphology</th><td class='edit edit_text' id='morph'>{{gloss.morph}}</td></tr>
        <tr><th>Stem Sign Number</th><td class='edit edit_text' id='StemSN'>{{gloss.StemSN}}</td></tr>
        <tr><th>Compound of</th><td class='edit edit_text' id='compound'>{{gloss.compound}}</td></tr>
        <tr><th>Language</th><td class='edit edit_language' id='language'>{% for lang in gloss.language.all %}{{lang.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>
        <tr><th>Dialect</th><td class='edit edit_dialect' id='dialect'>{% for dia in gloss.dialect.all %}{{dia.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>
    </table>
    
    <h3>Publication Status</h3>
        
    <table class='table table-condensed'>
        <tr><th>In Web Dictionary</th><td class='edit edit_check' id='inWeb'>{% if gloss.inWeb %}Yes{% else %}No{% endif %}</td></tr>
        <tr><th>Proposed New Sign</th><td class='edit edit_check' id='isNew'>{% if gloss.isNew %}Yes{% else %}No{% endif %}</td></tr>
    </table>
    
    <h3>Phonology</h3>
        
    <table class='table table-condensed'>
        <tr><th>Initial Palm Orientation</th><td class='edit edit_palm' id='initial_palm_orientation'>{{gloss.get_initial_palm_orientation_display}}</td></tr>
        <tr><th>Final Palm Orientation</th><td class='edit edit_palm' id='final_palm_orientation'>{{gloss.get_final_palm_orientation_display}}</td></tr>

        <tr><th>Initial Relative Orientation</th><td class='edit edit_relori' id='initial_relative_orientation'>{{gloss.get_initial_relative_orientation_display}}</td></tr>
        <tr><th>Final Relative Orientation</th><td class='edit edit_relori' id='final_relative_orientation'>{{gloss.get_final_relative_orientation_display}}</td></tr>

        <tr><th>Dominant Hand Shape</th><td class='edit edit_handshape' id='domhndsh'>{{gloss.get_domhndsh_display}}</td></tr>
        <tr><th>Subordinate Hand Shape</th><td class='edit edit_handshape' id='subhndsh'>{{gloss.get_subjndsh_display}}</td></tr>
        <tr><th>Final Dominant Hand Shape</th><td class='edit edit_handshape' id='final_domhndsh'>{{gloss.get_final_domhndsh_display}}</td></tr>
        <tr><th>Final Subordinate Hand Shape</th><td class='edit edit_handshape' id='final_subhndsh'>{{gloss.get_final_subjndsh_display}}</td></tr>

        <tr><th>Primary Location</th><td class='edit edit_location' id='locprim'>{{gloss.get_locprim_display}}</td></tr>
        <tr><th>Secondary Location</th><td class='edit edit_location' id='locsecond'>{{gloss.get_locsecond_display}}</td></tr>
        <tr><th>Final Location</th><td class='edit edit_location' id='final_loc'>{{gloss.get_final_loc_display}}</td></tr>
        
        <tr><th>Initial Secondary Location (BSL)</th><td class='edit edit_sec_location' id='initial_secondary_loc'>{{gloss.get_initial_secondary_loc_display}}</td></tr>
        <tr><th>Final Secondary Location (BSL)</th><td class='edit edit_sec_location' id='final_secondary_loc'>{{gloss.get_final_secondary_loc_display}}</td></tr>
        
    </table>
    
    
    <h3>Definitions/Notes</h3>

    {% regroup gloss.definition_set.all by role as roles %}
    
    {% for role in roles %}
        
      <ol>
      {% for def in role.list %}     
        <li><span class='edit edit_role' id='definitionrole_{{def.id}}'>{{def.get_role_display}}</span><div class='edit edit_area' id='definition_{{def.id}}'>{{def.text}}</div></li>
      {% endfor %}
      </ol>

    {% endfor %}
    

    </div>
</div>


{% endblock %}
