{% extends "baselayout.html" %}

{% block content %}

    <p>Welcome to the Sign Search section of the {{langauge}} SignBank. Here
    you can search for a sign using an English keyword in the search box
    above, or browse keywords starting with any letter below. 
   </p>
    
    <div class="searchblock">
      <p>Enter English word or first few letters:</p>
  
      <form role="search" id="mainSearch" name="mainSearch" method="get" action="/dictionary/search">
         <div class="form-group">
            <input class='form-control' placeholder='Enter keywords' type="Text" name="query" value="{{ query }}" maxlength="50">
            <button type="submit" class="btn btn-default">Sign Search</button>
         </div>
       
      </form>
    </div>
    
    <div class="alphablock">
      <p>Or search alphabetically:</p>
    
      <p>
        {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
          <a href="{% url 'root_page' %}dictionary/search?query={{letter}}">{{letter}}</a> | 
        {% endfor %}
      </p>
    </div>




{% endblock %}




