
{% extends "baselayout.html" %}

{% block pagetitle %}{{ settings_site_title }} - Sign for {{ translation.translation }} {% endblock %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jcarousel/jcarousel.ajax.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}zoomgallery/magnific.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}zoomgallery/zoom.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/variant.css">
{% endblock %}

{% block extrajs %}
	<script src='{{ STATIC_URL}}jcarousel/jquery.jcarousel.min.js'></script>
   	<script src='{{ STATIC_URL}}jcarousel/jcarousel.responsive.js'></script>
   	<script src='{{ STATIC_URL}}zoomgallery/magnific.js'></script>
   	<script src='{{ STATIC_URL}}zoomgallery/zoom.js'></script>
   	<script language='javascript'>
   		function topmap() {
			var winwidth = $( window ).width();
			if (winwidth >= 992){
				var top = parseInt($( "#definitionblock .col-md-8" ).css("height"),10) - 350;
				$( '#definitionblock .region-left' ).css({'top' : "-" + top + 'px'});
			}
		}
   		
		$( window ).resize(function() {
			topmap();
		});
		
		$( document ).ready(function() {
			topmap();
		});
	</script>
{% endblock %}

{% block jqueryready %}
	
{% endblock %}

{% block script %}
    function replay() {
        $f('player').play();
    }
{% endblock %}




{% block content %}
<div id='publicsign' class="view-{{ viewname }}">
    {% if feedbackmessage %}
    <div id="feedbackmessage">
        <p class='alert alert-info'>
            {{ feedbackmessage }}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></p>
    </div>
    {% endif %}

    <div id="signinfo" class='navbar navbar-default navbar-collapse'>
    
        <div class='btn-group'>
            {% if SIGN_NAVIGATION %}
        
                {% if navigation.prev %}
                <a class='btn navbar-btn btn-default' href="{% url 'root_page' %}dictionary/gloss/{{navigation.prev.idgloss}}.html?lastmatch={{lastmatch}}">&laquo; <span class='hidden-xs'>Previous Sign</span></a>
           
                {% endif %}
            
                <button class='btn navbar-btn'>Sign {{glossposn}} of {{glosscount}} <span class='hidden-xs'>in the Auslan Dictionary</span></button>
            
                {% if navigation.next %}
                <a class="btn navbar-btn btn-default"
                   href="{% url 'root_page' %}dictionary/gloss/{{navigation.next.idgloss}}.html?lastmatch={{lastmatch}}"><span class='hidden-xs'>Next Sign</span> &raquo;</a>
                {% endif %}
             {% else %}
           
             {% endif %}
        </div>
   
   
        <div class='pull-right'>
            {% if viewname == "words" %}
            <span class='navbar-text'>Matches for the word <em>{{ translation.translation }}</em></span>
            <div class='btn-group'>
            {% for i in matches %}
                {% ifequal i n %}
                <button type='button' class='btn btn-primary navbar-btn'>{{i}}</button>
                {% else %}
                <a type='button' class='btn btn-default navbar-btn' href="{{translation.translation}}-{{i}}.html">{{i}}</a>
                {% endifequal %}
            {% endfor %}
            </div>
            {% else %}
                {% if lastmatch %}
                <a class='btn btn-default navbar-btn' href="{% url 'root_page' %}dictionary/words/{{lastmatch}}.html">Return to Matches</a>
                {% endif %}
            {% endif %}
        </div>
    
    
        <div class='btn-group'>
           {% if perms.dictionary.search_gloss %}
           <a id='editbutton' class='btn btn-default navbar-btn' href="{% url 'dictionary:admin_gloss_view' pk=gloss.id %}">Detail View</a>
           {% endif %}
        </div>
    
    </div>

    <div id="definitionblock">
    	<div>
	        <div class='col-md-4'>
	            <div id="videocontainer">
	               <div id="player">
	                  <iframe id='videoiframe' scrolling="no" frameborder='0' allowfullscreen="allowfullscreen"
	                          src="{% url 'signbank.video.views.iframe' gloss.pk %}">
	                  </iframe>
	               </div>
	               <div id="replay"></div>
	            </div>
	        
		        <div id="keywords">
	                 <p><strong>Keywords:</strong>
	                 {% for kwd in allkwds %}
	                   {% ifequal translation.translation kwd.translation %}<b>{{ kwd.translation }}</b>{% else %}{{ kwd.translation }}{% endifequal %}{% if not forloop.last %},{% endif %}
	                 {% endfor %}
	                 </p>
	            </div>
	        </div>
	        
	        <div  class='col-md-8'>
			{% if thumbnails %}
			<script type="text/javascript">
				function replay(id) {
			    	iframe = $(id);
			    	$('#sign_html5_api', iframe.contents())[0].play();
			    }
				
				function load(idgloss){
					$( "#variant-container" ).load( "{% url 'root_page' %}dictionary/variant/" + idgloss + ".html" );
				}
			</script>
		    	<p><strong>Found {{thumbnails|length}} variant{% if thumbnails|length|add:"0" > 1 %}s{% endif %} for this sign:</strong></p>
		     	<div id='thumbnailscontainer' class='jcarousel-wrapper'>
		     		<div id='thumbnailsrow' class='jcarousel' data-jcarousel="true">
		     			<ul style="left: 0px; top: 0px;">
			     			{% for thumbnail in thumbnails %}
			     				<li>
				     				<div class='col-lg-3 col-md-4 col-xs-6 thumb'>
				     					<a class='thumbnail popup-with-zoom-anim' target='mainvideo' 
				     						href="#small-dialog" onclick='load("{{thumbnail.idgloss}}")'>
				     						<iframe class='thumbnailiframe' 
				     								id='thumbnailiframe-{{thumbnail.idgloss}}' 
				     								scrolling="no" frameborder='0' 
				     								src="{% url 'signbank.video.views.thumbnail' thumbnail.pk %}">
			                  				</iframe>
			                  				<span class="thumbnailcover"
				     								onmouseover='replay("#thumbnailiframe-{{thumbnail.idgloss}}")'>
			                  				</span>
				     					</a>
				     				</div>
				     			</li>
			     			{% endfor %}
			     		</ul>
	   					<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
	   						<div id='variant-container'></div>
	   					</div>
		     		</div>
		     		<a href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">‹  </a>
		     		<a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">  ›</a>
		     	</div>
		    {% endif %}
		    
		    {% if DEFINITION_FIELDS and gloss.published_definitions %}
        
	            <h2>Sign Definition</h2>
	
	            {% for deftype in DEFINITION_FIELDS %}
	        
	                 {% regroup gloss.published_definitions by role as roles %}
	        
	                 {% for role in roles %}
	              
	                      {% ifequal deftype role.grouper %}  
	                  
	                          <h3>{{role.list.0.get_role_display}}</h3>
	                  
	                          <ol>
	                          {% for def in role.list %}     
	                            <li>{{def.text}}</li>
	                          {% endfor %}
	                          </ol>
	                  
	                      {% endifequal %}
	                 {% endfor %}
	            {% endfor %}
	        
	
	        {% endif %}
	        </div>
	    </div>       
            

        
        {% if regional_template_content %}
        <div  class='col-md-12'>
          {{ regional_template_content }}
        </div>
        {% endif %}
        
        <div class='col-md-4 region-left'>
        	
            <div id="feedback">
                <ul>
                    {% ifequal viewname "words" %}
                    <li><a href="{% url 'root_page' %}feedback/sign/{{translation.translation}}-{{n}}.html?return=/dictionary/words/{{translation.translation}}-{{n}}.html">Provide feedback about this sign</a></li>
                    {% else %}
                    <li><a href="{% url 'root_page' %}feedback/gloss/{{gloss.idgloss}}.html?return=/dictionary/gloss/{{gloss.idgloss}}.html&lastmatch={{lastmatch}}">Provide feedback about this sign</a></li>
                    {% endifequal %}

                    <li><a href="{% url 'root_page' %}feedback/missingsign.html">Report a missing sign</a></li>
                    <li><a href="{% url 'root_page' %}feedback/generalfeedback.html">Provide general site feedback</a></li>
                </ul>
            </div>
            
	        <div>
	            {% if regions|length > 0 %}
	            <div id="states">
	                <div>
	                {% for image in dialect_image %}
	                    <img src="{{ STATIC_URL }}{{image}}" alt="Region">
	                {% endfor %}
	                </div>
	            </div>
	
	            <div>
	                <h4>Sign Distribution</h4>
	                <table class="table table-condensed">
	                  {% for region in regions %}
	                  <tr>
	                    <td>
	                      {{ region.dialect.name }}
	                    </td>
	                    <td>
	                      {{ region.traditional|yesno:" traditional," }}
	                    </td>
	                    <td>
	                        {{ region.frequency }}
	                    </td>
	                  </tr>
	                  {% endfor %}
	                </table>
	            </div>
	            {% endif %}
	        </div>
        </div>
    
    </div>

</div>

{% endblock %}

