
{% extends "baselayout.html" %}

{% block pagetitle %}Auslan: sign for {{ translation.translation }} {% endblock %}


{% block jqueryready %}


{% endblock %}

{% block script %}
    function replay() {
        $f('player').play();
    }
{% endblock %}




{% block content %}

{% if feedbackmessage %}
<div id="feedbackmessage">
    <p>{{ feedbackmessage }}</p>
</div>
{% endif %}

<div id="signinfo">
    <div id="signs">
        <h2>Sign {{glossposn}} of {{glosscount}} in the Auslan
            Dictionary</h2>

            {% if navigation.prev %}
            <div class="prev">
              <a href="{% url 'root_page' %}dictionary/gloss/{{navigation.prev.idgloss}}.html?lastmatch={{lastmatch}}">&laquo; Previous Sign</a>
            </div>
            {% endif %}
            {% if navigation.next %}
            <div class="next">
             <a href="{% url 'root_page' %}dictionary/gloss/{{navigation.next.idgloss}}.html?lastmatch={{lastmatch}}">Next Sign &raquo;</a>
            </div>
            {% endif %}
    </div>

    <div id="matches">
        {% ifequal viewname "words" %}
        <h2>Matches for the word <em>{{ translation.translation }}</em></h2>
        <div>
        {% for i in matches %}
            {% ifequal i n %}
            <span class='match current'>{{i}}</span>
            {% else %}
            <span class='match'><a href="{{translation.translation}}-{{i}}.html">{{i}}</a></span>
            {% endifequal %}
        {% endfor %}
        </div>
        {% else %}
            <h2><a href="{% url 'root_page' %}dictionary/words/{{lastmatch}}.html">Return to Matches</a></h2>
            <div>&nbsp;</div>
        {% endifequal %}

    </div>
</div>

<div id="definitionblock">
    <div id="leftblock">
    <div id="videocontainer">
    {% if gloss.get_video %}

    <div id="player">
      <iframe width="320" height="240" scrolling="no" frameborder='0'
          src="{% url 'signbank.video.views.iframe' gloss.get_video_number %}">
      </iframe>
    </div>
      <div id="replay"></div>

    {% else %}
    <img src='{{ STATIC_URL }}images/no-video.png'>
    {% endif %}
    </div>


        <div id="feedback">
            <ul>
                {% ifequal viewname "words" %}
                <li><a href="{% url 'root_page' %}feedback/sign/{{translation.translation}}-{{n}}.html?return=/dictionary/words/{{translation.translation}}-{{n}}.html">Provide feedback about this sign</a></li>
                {% else %}
                <li><a href="{% url 'root_page' %}feedback/gloss/{{gloss.idgloss}}.html?return=/dictionary/gloss/{{gloss.idgloss}}.html&lastmatch={{lastmatch}}">Provide feedback about this sign</a></li>
                {% endifequal %}

                <li><a href="{% url 'root_page' %}feedback/missingsign.html">Report a missing sign</a></li>
                <li><a href="{% url 'root_page' %}feedback/generalfeedback.html">Provide general site feedback</a></li>
            </ul>
        </div>

        {% if dialect_image %}
        <div id="states">
            <div>
                <img src="{{ STATIC_URL }}{{dialect_image}}" alt="States">
            </div>
        </div>
        {% endif %}

        <div>
           <h4>Sign Distribution</h4>
                <ul>
                {% ifequal dialect_image "images/maps/allstates.gif" %}
                  <li>All States</li>
                {% else %}
	                {% for dialect in gloss.dialect.all %}
	                  <li>{{ dialect.name }}</li>
	                {% endfor %}
                {% endifequal %}
                </ul>
        </div>
</div>

    <div id="keywords">
         <p><strong>Keywords:</strong>
         {% for kwd in allkwds %}
           {% ifequal translation.translation kwd.translation %}<b>{{ kwd.translation }}</b>{% else %}{{ kwd.translation }}{% endifequal %}{% if not forloop.last %},{% endif %}
         {% endfor %}
         </p>
    </div>

    <div id="definition">
        <h2>Sign Definition</h2>

        {% if definitions.general %}
          <h3>General Definition</h3>

          <ol>
          {% for def in definitions.general %}
            <li> {{ def }}</li>
          {% endfor %}
          </ol>
        {% endif %}

        {% if definitions.noun %}
          <h3>As a Noun</h3>

          <ol>
          {% for def in definitions.noun %}
            <li> {{ def }}</li>
          {% endfor %}
          </ol>
        {% endif %}

        {% if definitions.verb %}
          <h3>As a Verb or Adjective</h3>
          <ol>
          {% for def in definitions.verb %}
            <li> {{ def }}</li>
          {% endfor %}
          </ol>
        {% endif %}


        {% if definitions.interact %}
          <h3>Interactive</h3>
          <ol>
          {% for def in definitions.interact %}
              <li> {{ def }}</li>
          {% endfor %}
          </ol>
        {% endif %}

        {% if definitions.deictic %}
          <h3>As a Pointing Sign</h3>
          <ol>
          {% for def in definitions.deictic %}
            <li> {{ def }}</li>
          {% endfor %}
          </ol>
        {% endif %}


        {% if definitions.modifier %}
          <h3>As Modifier</h3>
          <ol>
          {% for def in definitions.modifier %}
              <li> {{ def }}</li>
          {% endfor %}
          </ol>
        {% endif %}


        {% if definitions.question %}
          <h3>As Question</h3>
          <ol>
          {% for def in definitions.question %}
              <li> {{ def }}</li>
          {% endfor %}
          </ol>
        {% endif %}

        {% if definitions.augment %}
          <h3>Augmented Meaning</h3>
          <ol>
          {% for def in definitions.augment %}
              <li> {{ def }}</li>
          {% endfor %}
          </ol>
        {% endif %}

        {% if definitions.note %}
          <h3>Note</h3>
          <ol>
          {% for def in definitions.note %}
              <li> {{ def }}</li>
          {% endfor %}
          </ol>
        {% endif %}

    </div>
    
</div>


{% endblock %}

