/* variant style for black - main page style */
@import "colour.css";

html { 
  background-image: url(colours/black/black_02.gif); 
} 

#leftcontentborder {
  background-image: url(colours/black/black_03.gif);
}

#rightcontentborder {
  background-image: url(colours/black/black_05.gif);
}

#header {
  background-image: url(colours/black/black_02.gif); 
}
 
#header h1 {
    background-image: url(colours/black/black_04.gif); 
}

/* superfish menu styling - background image is assumed 26px high */
.sf-menu { 
   background-image: url(colours/black/black_08.gif);
   background-position: right;
   background-repeat: no-repeat;
}

#pages #mainlinks td {
  
  background-image: url(colours/black/black_02.gif);
}
