
@import "fonts.css";
/* styles used in pages */
@import "../css/textstyles.css";

/* layout */
body {
   margin-left: auto;
   margin-right: auto;
   width: 847px;
   padding: 0px;
   background-color: #FFFFFF;
   margin-top: 0px; 
}

#header { 
   padding: 0px; 
}

#header h1 {
   /* hide the header text with a negative indent */
   /* http://phark.typepad.com/phark/2003/08/accessible_imag.html */
   text-indent: -9000px;
   height: 92px;
   margin: 0px;
}

#header #frmSearch {
   float: right;
   padding-right: 1em;
   margin-top: -50px;
   margin-bottom: 0px;
}

#navigation { 
   height: 30px;
}

.sf-menu {
   float:         	left;
   margin-bottom:       1em;
   height:              34px;
}
.sf-menu a {
   padding: 		   0.5em .75em 0em 1em; 
}
.sf-menu li { 
   height: 34px;
}

#content {
   margin: 0px;
   padding-left: 1em;
   padding-right: 1em;
}

/* Two border divs on the left and right
  of the main column hold drop shadows */
#leftcontentborder {
   float: left;
   width: 15px;
   height: 740px;
   background-repeat: no-repeat;  
   background-color: #FFF;
   margin-left: -15px;
}

#rightcontentborder {
  width: 15px;
  height: 740px;
  background-repeat: no-repeat;
  float: right;
  margin-right: -15px;
}


/* layout within the definition content block */

#feedbackmessage { 
   width: 40%;
   position: absolute;
   left: 50%;
   margin-left: -20%;
   border: 5px solid black;
   text-align: center;
   background: #FFF;
   font-size: larger;
}

#signinfo {
   margin: 0px; 
}

#signinfo h2 {
   margin: 0px;
   padding: 0.5em;
}

#signnav { 
}

#signnav #signs {
   float: left;
   height: 50px;
}

#signnav #matches {
   height: 50px; 
}

#definitionblock {
   
}

#leftblock {
   float: left; 
   margin-left: 6px;
   margin-top: 0px;
}

#videocontainer {
   width: auto;
}
#videocontainer #player {
   margin: auto;
   width:320px;
   height:240px;
}
#videoreplay {
   text-align: right;
}

#keywords {
   margin-top: -1em;
   margin-left: -1em; 
   padding-left: 1em;
}
#definition { 
}

#states {
   text-align: center;
   margin-left: auto;
   margin-right: auto; 
}
#feedback { 
}
#staffinfo #staffops {
   width: 100%;
}


/* end of definition block content */

/* styles for the pages app */

#pages #videocontainer {
   margin-left: auto;
   margin-right: auto; 
}

#pages #videocontainer #player {
   margin: auto;
   width:320px;
   height:240px;
}

#pages #videocontainer table {
   width: 100%;
   text-align: center;
}

#pages #videocontainer a:link, #pages #videocontainer a:visited {
   color: white;
}

#pages #editbutton {
   float: right;
}


#pages #mainlinks table {
   width: 80%;
   height: 10em;
   margin: auto;
}

#pages #mainlinks td {
   border: 1px solid black;
   margin: 1em;
   width: 10em;
   text-align: center;
}


/* text styles used by pages via the wymeditor styles */

.floatright {
   float: right;
}

.floatleft {
   float: left;
}

.centre {
   margin-left: auto;
   margin-right: auto;
}

.emphasised {
   font-weight: bold;
}


/* definition lists in feedback view */


.comment dl
{
   width: 41.1em;
   margin: 2em 0;
   padding: 0; 
}

.comment dt
{
   font-weight: bold;
   float: left;
   width: 15em;
}

.comment dd
{
}



/* file attachment upload form etc */

#attachmentform {
   margin: auto;
   width: 30em;
}
#attachmentform table {
   margin: auto;
}

/* general markup for error messages in forms */

.errorlist {
   color: red;
   font-weight: bold;
}


#footer { 
   background-color: #F0FFDF;   
   margin: 0px;
   padding: 0px;
   height: 50px;
   clear: both;
}

#footer #copyright {
  font-size: smaller;
  text-align: right;
  padding-right: 1em;
  padding-top: 1em;
}
