
@import "fonts.css";
/* styles used in pages */
@import "../css/textstyles.css";
/* styles for the main navigation menu */
@import "navigation.css";

/* layout */
body {
   margin-left: auto;
   margin-right: auto;
   width: 847px;
   padding: 0px;
   background-color: #FFFFFF;
   margin-top: 0px; 
}

#header { 
   padding: 0px; 
}

#header h1 {
   /* hide the header text with a negative indent */
   /* http://phark.typepad.com/phark/2003/08/accessible_imag.html */
   text-indent: -9000px;
   height: 92px;
   margin: 0px;
}

#header #frmSearch {
   float: right;
   padding-right: 1em;
   margin-top: -50px;
   margin-bottom: 0px;
}

#content {
   margin: 0px;
   padding-left: 1em;
   padding-right: 1em;
}

/* Two border divs on the left and right
  of the main column hold drop shadows */
#leftcontentborder {
   float: left;
   width: 15px;
   height: 740px;
   background-repeat: no-repeat;  
   background-color: #FFF;
   margin-left: -15px;
}

#rightcontentborder {
  width: 15px;
  height: 740px;
  background-repeat: no-repeat;
  float: right;
  margin-right: -15px;
}


/* layout within the definition content block */

#feedbackmessage { 
   width: 40%;
   position: absolute;
   left: 50%;
   margin-left: -20%;
   border: 5px solid black;
   text-align: center;
   background: #FFF;
   font-size: larger;
}

#signinfo {
   margin: 0px;
   height: 50px;
   margin-bottom: 0px;
}

#signinfo h2 {
   margin: 0px;
   padding: 6px;
}
#signinfo .prev {
   padding-left: 6px;
   float: left;
}

#signinfo .next {
   float: right;
   padding-right: 6px;
}

#signnav { 
}

#signs { 
   margin-right: 0em;
   text-align: left;
   float: left;
   height: 50px;
   width: 338px;  /* to match rh edge of video container */
}


#signnav #matches {
   height: 50px;
}

#definitionblock {
   margin-top: 0em;
   background-color: #FFF;
}

#leftblock {
   float: left; 
   margin-left: 6px;
   margin-top: -13px;
}

#videocontainer {
   width: auto;
}
#videocontainer #player {
   margin: auto;
   width:320px;
   height:240px;
}
#videoreplay {
   text-align: right;
}

#keywords {
   margin-left: 338px;
   padding-left: 6px; 
   margin-bottom: -0.5em;
}
#definition {
   margin-left: 338px;
   padding-left: 6px;
}
#staffinfo {
   margin-left: 338px;
   padding-left: 6px;
}


#states {
   text-align: center;
   margin-left: auto;
   margin-right: auto; 
}
#feedback { 
}
#staffinfo #staffops {
   width: 100%;
}


/* end of definition block content */

/* styles for the pages app */

#pages #videocontainer {
   margin-left: auto;
   margin-right: auto; 
}

#pages #videocontainer #player {
   margin: auto;
   width:320px;
   height:240px;
}

#pages #videocontainer table {
   width: 100%;
   text-align: center;
}

#pages #videocontainer a:link, #pages #videocontainer a:visited {
   color: white;
}

#pages #editbutton {
   float: right;
}

/* table of links in the mainpage template */

#pages #mainlinks table {
  
   margin: auto;
}

#pages #mainlinks td {
   text-align: center; 
   border: none;
}

#pages #mainlinks a { 
   color: #fff;
   text-decoration: none;
   font-size: large; 
   width:  6em;
   height: 6em;
   display: block;
}
#pages #mainlinks a:hover {
   color: #aaa; 
}

#pages #mainlinks a span { 
   display: block;
   padding-top: 2em;
}

#pages #mainlinks #signbanklink {
   
}

/* text styles used by pages via the wymeditor styles */

.floatright {
   float: right;
}

.floatleft {
   float: left;
}

.centre {
   margin-left: auto;
   margin-right: auto;
}

.emphasised {
   font-weight: bold;
}


/* definition lists in feedback view */


.comment dl
{
   width: 41.1em;
   margin: 2em 0;
   padding: 0; 
}

.comment dt
{
   font-weight: bold;
   float: left;
   width: 15em;
}

.comment dd
{
}



/* file attachment upload form etc */

#attachmentform {
   margin: auto;
   width: 30em;
}
#attachmentform table {
   margin: auto;
}

/* general markup for error messages in forms */

.errorlist {
   color: red;
   font-weight: bold;
}


#footer { 
   background-color: #F0FFDF;   
   margin: 0px;
   padding: 0px;
   height: 50px;
   clear: both;
}

#footer #copyright {
  font-size: smaller;
  text-align: right;
  padding-right: 1em;
  padding-top: 1em;
}

/* styles for finger spelling pages */

#hand {
  float: left;
}

#handimage {
  position: relative;
  height: 244px;
  width:  292px;
  background-color: #4b62ae;
  border: 5px solid black;
}
/* images are 192x144 centre them in the above div */
#mainimg {
  position: absolute;
  top: 50px;
  left: 50px;
  display: block;
  margin: auto;
}
#mainimg {
  z-index: 1;
}
#backimg {
  z-image: 0;
}
#fstable td {
  margin-right: -1em;
}
#fstable img {
  width: 75px;
}
#fstable td div {
  margin-top: -1.4em;
  font-size: large;
  color: #fff;
  text-align: center;
}






