{% extends "baselayout.html" %}

{% block content %}

    <p>Welcome to the Sign Search section of the Auslan SignBank. Here
    you can search for a sign using an English keyword in the search box
    above, or browse keywords starting with any letter below. 
   </p>
    
    <p>
    {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
      <a href="{% url signbank.views.index %}{{version}}/search?query={{letter}}{% ifequal version "medical"%}&msb=1{% endifequal %}">{{letter}}</a> | 
   {% endfor %}
   </p>
   
<div id='tags'>
 <h2>Tags</h2>
 <p>Select a tag below to view signs with that tag.</p>
 
 {% load tagging_tags %}
 
 {% tags_for_model dictionary.Gloss as glosstags with counts %}

 {% for t in glosstags %}
   <span class='tag' {% ifequal t tag %}id='activetag'{% endifequal %}><a href="/{{version}}/tag/{{t}}/">{{t}}</a><span class='tagcount'>{{t.count}}</span></span>
 {% endfor %}
</div>
        
</div>


    {% ifequal version "medical" %}

    <p style="text-align: center; font-size: large">Please help us improve the Medical SignBank. See <a href="{% url signbank.views.index %}research/medicalhelp/">how you can help</a>.</p>
    
    {% endifequal %}


{% endblock %}




