{% extends "baselayout.html" %}

{% block pagetitle %}Auslan: sign for {{ translation.translation }} {% endblock %}


{% block jqueryready %}
    config = {
        plugins: { 
                controls: null 
        },
        play: { opacity: 0 },
        clip: {
            url: '{% auslan_media_prefix %}{{ videofile }}',
            autoplay: true
        }
    };
    flowplayer("player", "{% auslan_static_prefix %}flowplayer3/flowplayer-3.0.2.swf", config);
    
{% endblock %}

{% block script %}
    function replay() {
        $f('player').play();
    }
{% endblock %}




{% block content %}

<div id="signinfo">
    <div id="signs">
        <h2>Sign {{glossposn}} of {{glosscount}} in the Auslan
            {% ifequal flavour "medical" %} Medical {% endifequal %}Dictionary</h2>
        {% ifequal flavour "medical" %}
         {% if translation.gloss.prev_medical_gloss %}
            <a href="/{{flavour}}/gloss/{{translation.gloss.prev_medical_gloss.idgloss}}.html?lastmatch={{lastmatch}}">&lt;Previous Medical Sign</a>
         {% endif %}
        {% else %}
        {% if translation.gloss.prev_dictionary_gloss %}  
            <a href="/{{flavour}}/gloss/{{translation.gloss.prev_dictionary_gloss.idgloss}}.html?lastmatch={{lastmatch}}">&lt;Previous Sign</a>
        {% endif %}
        {% endifequal %}
        
        {% ifequal flavour "medical" %}
         {% if translation.gloss.next_medical_gloss %}
            <a href="/{{flavour}}/gloss/{{translation.gloss.next_medical_gloss.idgloss}}.html?lastmatch={{lastmatch}}">Next Medical Sign&gt;</a>
         {% endif %}
        {% else %}
         {% if translation.gloss.next_dictionary_gloss %}
            <a href="/{{flavour}}/gloss/{{translation.gloss.next_dictionary_gloss.idgloss}}.html?lastmatch={{lastmatch}}">Next Sign&gt;</a>
         {% endif %}
        {% endifequal %}
    </div>
    
    <div id="matches">
        {% ifequal viewname "words" %}
        <h2>Matches for the word <em>{{ translation.translation }}</em></h2>
        <div>
        {% for i in matches %}
            {% ifequal i n %}
            <strong>{{i}}</strong>
            {% else %}
            <a href="{{translation.translation}}-{{i}}.html">{{i}}</a>
            {% endifequal %}
        {% endfor %} 
        </div>
        {% else %}
            <h2><a href="/{{flavour}}/words/{{lastmatch}}.html">Return to Matches</a></h2>
            <div>&nbsp;</div>
        {% endifequal %}
    </div>
</div>

<div id="definitionblock">
    <div id="leftblock">
        <div id="videocontainer">
            <div id="player"></div>            
            <div id="videoreplay" onclick="replay()">
               REPLAY
            </div>
        </div>
        
        <div id="feedback">
            <ul>
                <li><a href="/feedback/sign/{{ translation.translation}}-{{n}}.html">Provide feedback about this sign</a></li>
                <li><a href="/feedback/sign/{{translation.translation}}-{{n}}.html">View feedback for this sign</a></li>
            </ul> 
        </div>
        
        <div id="states">      
            <div>
                <img src="{% auslan_static_prefix %}styleA/images/australia.jpg" alt="States"></img>
            </div>
            
             {% if gloss.auslextf %}
             
            <span>Sign Distribution: All States</span>
        
            {% else %}
            
            {% if gloss.nthtf %}
            {# northern dialect = NSW, ACT, QLD #}
            <span>Sign Distribution: NSW, ACT, QLD</span>
            {% else %}
            
            {% if gloss.sthtf %}
            {# southern dialect = VIC, WA, TAS, SA, NT #}
            <span>Sign Distribution: VIC, WA, TAS, SA, NT </span>
            {% else %}
            {# individual states turned on #}
                <span>Sign Distribution: </span>
                <p>
                {% if gloss.qldtf %}Queensland{% endif %}
                {% if gloss.nswtf %}NSW{% endif %} 
                {% if gloss.victf %}Victoria{% endif %} 
                {% if gloss.watf %}Western Australia{% endif %} 
                {% if gloss.satf %}South Australia{% endif %} 
                Northern Territory
                Australian Capital Territory
                {% if gloss.tastf %}Tasmania{% endif %} 
                </p>    
            {% endif %} {# gloss.sthtf #}
            {% endif %} {# gloss.nthtf #}
            {% endif %} {# gloss.austlex #}
        </div>

    </div>
    
    <div id="keywords"> 
         <p><strong>Keywords:</strong>
         {% for kwd in allkwds %}
           {% ifequal translation.translation kwd.translation %}
           <b>{{ kwd.translation }},</b>
           {% else %}
           {{ kwd.translation }},
           {% endifequal %}
         {% endfor %}
         </p>
    </div>

    <div id="definition">
        <h2>Sign Definition</h2>
 
        {% if definitions.noun %} 
          <h3>As a Noun</h3>
         
          <ol>
          {% for def in definitions.noun %}
            <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
          
        {% if definitions.verb %} 
          <h3>As a Verb or Adjective</h3> 
          <ol>
          {% for def in definitions.verb %}
            <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
          
          
        {% if definitions.interact %} 
          <h3>Interactive</h3> 
          <ol>
          {% for def in definitions.interact %}
              <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
          
        {% if definitions.deictic %} 
          <h3>As Deictic</h3> 
          <ol>
          {% for def in definitions.deictic %}
            <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
          
          
        {% if definitions.modifier %} 
          <h3>As Modifier</h3> 
          <ol>
          {% for def in definitions.modifier %}
              <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
        
          
        {% if definitions.question %} 
          <h3>As Question</h3> 
          <ol>
          {% for def in definitions.question %}
              <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
          
        {% if definitions.augment %} 
          <h3>Augmented Meaning</h3> 
          <ol>
          {% for def in definitions.augment %}
              <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %}
    </div>
           


    {% if user.is_authenticated and user.is_staff %}
    <div id="staffinfo">
        
        <h2>Staff</h2>
        
        {% if not gloss.inWeb %}
          <p>This gloss is not included in the web version of the dictionary.</p>
        {% endif %}
                    
        {% if definitions.popexplain %} 
          <h2>Popular Explanation</h2> 
          <ol>
          {% for def in definitions.popexplain %}
              <li> {{ def }}</li>
          {% endfor %} 
          </ol>
        {% endif %} 
      
        {% if gloss.queries %}
          <h2>Notes</h2>
          <ol>
              <li>{{gloss.queries}}</li>
          </ol>
        {% endif %}
        <ul>
          <li><a href="/admin/dictionary/gloss/{{gloss.id}}">Edit the 
          gloss <em>'{{ gloss.idgloss}}'</em></a></li>
          <li>
            <a href="javascript:window.open('/dictionary/update/video/{{gloss.id}}','', 'width=500,height=300,toolbar=0,location=0,menubar=0,status=0');False">Upload/update video</a>
          </li>
        </ul>
  
        {%if update_form %}
        <form action="/dictionary/update/gloss/{{gloss.id}}" method="post" enctype="multipart/form-data">
       
            <fieldset class="glossupdate">
            <legend>Quick Updates</legend>
              {# update form for this gloss #}
                <p>
                 Include in the Web dictionary? {{ update_form.inWeb }}
                  {{ update_form.glossid }}
                  {{ update_form.keyword }}
                  {{ update_form.n }}
                </p>
                <p>Include in Medical Signbank? {{ update_form.inMedLex }}</p>
                <p><input type="submit" value="Update"/></p>
            </fieldset>     
        </form>
        {% endif %}
    </div>
    {% endif %}          
</div>


{% endblock %}

