<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{% block pagetitle %}Auslan - Signbank{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" href="{% auslan_static_prefix %}styleA/style.css" type="text/css">

{% ifequal flavour "medical" %}
    <link rel="stylesheet" href="{% auslan_static_prefix %}styleA/red2.css" title="black" type="text/css">
{% else %} 
    <link rel="stylesheet" href="{% auslan_static_prefix %}styleA/black.css" type="text/css">
{% endifequal %}

    <script type="text/javascript" src="{% auslan_static_prefix %}js/jquery-1.2.3.min.js"></script>   
    <script type="text/javascript" src="{% auslan_static_prefix %}js/jquery.flashembed.js"></script> 
    
    <link rel="stylesheet" type="text/css" href="{% auslan_static_prefix %}superfish/css/superfish.css">        

    <script type="text/javascript" src="{% auslan_static_prefix %}superfish/js/hoverIntent.js"></script>
    <script type="text/javascript" src="{% auslan_static_prefix %}superfish/js/superfish.js"></script>
    <script type="text/javascript" src="{% auslan_static_prefix %}superfish/js/supersubs.js"></script>

    <script type="text/javascript" src="{% auslan_static_prefix %}flowplayer3/flowplayer-3.0.2.min.js"></script>
{% block extrahead %}

{% endblock %}

    <script type="text/javascript">

    // initialise plugins
    jQuery(function(){
      jQuery('ul.sf-menu').supersubs({minWidth: 12, maxWidth: 32}).superfish({pathLevels: 2});
      /* http://www.kelvinluck.com/2006/05/switch-stylesheets-with-jquery/  */
      $('.styleswitch').click(function()
        {
          switchStylestyle(this.getAttribute("rel"));
          return false;
        });
    });

  function switchStylestyle(styleName)
  {
     $('link[@rel*=style][title]').each(
          function(i){
            this.disabled = true;
            if (this.getAttribute('title') == styleName) this.disabled = false;
          });
  }
    </script>

    
    <script type="text/javascript">
      <!--
      
      
$(document).ready(function(){
  {% block jqueryready %}
  
  {% endblock %}
  
});
      {% block script %}
      // more scripts go here
      {% endblock %}
      
      // -->    
      
    </script>
    <!-- google analytics code --> 
    <!--
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3928964-1");
pageTracker._initData();
pageTracker._trackPageview();
</script> 
-->
  </head>
 
  <body {% block bodyid %}{% endblock %}>
  
    <div id="leftcontentborder"></div>
    <div id="rightcontentborder"></div>
    <div id="header">
       <h1>Auslan - Signbank</h1>
       <form id="frmSearch" name="frmSearch" method="get" action="/{% if flavour %}{{flavour}}{% else %}dictionary{% endif %}/search/">
          <input type="Text" name="query" value="{{ query }}" maxlength="50">
          <a href="javascript:document.forms['frmSearch'].submit();">Sign Search</a>
          <br>Medical Signs only<input type="checkbox" name="msb" value="1" {% ifequal flavour "medical" %}checked='1'{% endifequal %}>      
       </form> 
    </div>

    <div id="navigation"> 
     {% include "menu.html" %}
    </div>
    
    

    <div id="content">     
    {% block content %}
    <p>PAGE CONTENT</p>
    {% endblock %}
    </div>    

    
    
    <div id="footer"> 
     
          <div id="copyright">
             &copy; 2009, Trevor Johnston, Macquarie University. All rights reserved.
          </div>
    </div>
     
  
  </body>
</html>