
{% extends "baselayout.html" %}

{% block content %}

<div id="signinfo">

{% ifequal viewname "words" %}
    <h2>Signs used to express the word <em>{{ translation.translation }}</em></h2>
{% else %} 
    {% ifequal viewname "feedback" %}
        Sign Feedback
    {% else %}
        <h2>Sign {{glossposn}} of {{glosscount}} in the Auslan {% ifequal flavour "medical" %} Medical {% endifequal %}Dictionary</h2>
    {% endifequal %}
{% endifequal %}

<div id="signcount">
{% block signcount %}
    Sign 3 of 123
{% endblock %} 
</div>
      
<div id="signnav">  
{% block prevnext %} 
    Previous/Next sign links
{% endblock %}
</div>
</div>

<div id="definitionblock">
<div id="videocontainer">              
{% block video %}
<object type="application/x-shockwave-flash" data="{% auslan_static_prefix %}flowplayer/FlowPlayer.swf" 
      width="320" height="240" id="FlowPlayer">
  <param name="allowScriptAccess" value="always" />
  <param name="movie" value="{% auslan_static_prefix %}flowplayer/FlowPlayer.swf" />
  <param name="quality" value="high" />
  <param name="scale" value="noScale" />
  <param name="wmode" value="transparent" /> 
  <param name="flashvars"
    {# modified here to use the big test video - should be {{videofile}} #}
        value="config={ playList: [ { url: '{% auslan_media_prefix %}{{ videofile }}' }  ], 
                        autoPlay: true, 
                        autoBuffering: false, 
                        loop: false, 
                        autoRewind: true,   
                        hideControls: true}" 
  />
</object>
{% endblock %}
<div id="videoreplay">
   REPLAY
</div>
</div>

<div id="definition">
   <div id="keywords"> 
      {% block associated_keywords %} 
      {% endblock %}
   </div>
   {% block definition %}
   
   <p>DEFINITION CONTENT</p>
   
   {% endblock %}          
</div>
</div>

 <div id="states">      
    {% block states %} 
      Table of state usage images.
    {% endblock %}
 </div>
 
 
{% ifequal viewname "feedback" %}
  <div>

      <li><a href="/dictionary/words/{{ translation.translation}}-{{n}}.html">
      Return to Sign Detail</a></li>

    <p>Please complete the questions 
    opposite and then click 'Submit' to provide feedback on the sign shown above.</p>

    </div>

{% else %}

  <ul>
      <li><a href="/dictionary/feedback/{{ translation.translation}}-{{n}}.html">Provide feedback about this sign</a></li>
      <li><a href="/dictionary/viewfeedback/{{translation.translation}}-{{n}}.html">View feedback for this sign</a></li>
  </ul>
{% endifequal %}  
 </div>
          

  

{% endblock %}
