{# Welcome #}
{# Main weclome page to site. #}

{% extends "baselayout.html" %}

{% block content %}


          {# table of images and buttons for front page #}
          <table id="splash" border="0" cellpadding="0" cellspacing="0" width="412">
            <tr id="splashimages">
                <td class="curved"><img src="{% auslan_static_prefix %}img/splash-signsearch.jpg" alt="sign search" border="0"></td>
                <td><img src="{% auslan_static_prefix %}img/splash-fingerspell.jpg" alt="fingerspelling" border="0"></td>
                <td><img src="{% auslan_static_prefix %}img/splash-numbersigns.jpg" alt="number signs" border="0"></td>
            </tr>
            <tr id="splashlinks"> 
              <td class="first"><a href="/dictionary/"><span>sign search</span> <img src="{% auslan_static_prefix %}img/button_go.gif"></a></td>
              <td><a href="/fingerspellingtwohanded.html"><span>fingerspelling</span> <img src="{% auslan_static_prefix %}img/button_go.gif"></a></td>
              <td><a href="/numbersigns.html"><span>number signs</span> <img src="{% auslan_static_prefix %}img/button_go.gif"></a></td>
            </tr>
              
          </table>
          
          
{% if user.is_authenticated %}             

<p>
  Welcome back {{ user.first_name}} {{user.last_name}}!
</p>
<p>
  Remember, Auslan is a growing, dynamic language. 
  The more information you give Signbank, the 
  better it will be.

</p>
{% else %}
<p>This is a new version of Auslan Signbank.
You no longer need to register
just to view signs. However, if you wish to submit feedback you will need to
register. If you have registered under the earlier version of Signbank, you
will need to re-register in order to submit feedback.</p>
{% endif %}

<h1>Welcome to Auslan Signbank</h1>

<p>
  Signbank is an interactive dictionary of Auslan (Australian Sign Language). 
  Auslan is the language of the deaf community of Australia. Whoever you are; a 
  deaf person, deaf student, sign language interpreter, student of 
  Auslan, or a parent of a deaf child, we invite you all to explore our visual 
  language. Auslan is growing and changing all the time. By using Signbank and 
  providing feedback you can help share and build our language.
</p>
<a href="/feedback/">
  <img src="{% auslan_static_prefix %}img/suggest-banner.jpg" width="488" height="69" alt="" border="0" class="asbBanner"></a>
<p>
  <b>Tell us</b> if a sign needs fixing. Does it need a new meaning or keyword? 
  Is the way you make the sign described properly?
</p>
<p>
  <b>Tell us</b> if a sign you know is missing from the dictionary; What does it 
  mean? What does it look like? Deaf people, deaf students, interpreters and 
  teachers are creating and using new signs all the time. Tell us what they are! 
  Tell us if you like them or not! With Signbank you can.
</p>
                  
{% endblock %}
