

<ul class="sf-menu sf-navbar">
{# add in the top level menu items from pages #}
{% for item in menu %}
  <li><a href="{{item.url}}">{{item.title}}</a>
  {% if item.children %}
  <ul>
  {% for subitem in item.children %}
    <li><a href="{{subitem.url}}">{{subitem.title}}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
  </li>
{% endfor %}

{% if user.is_staff %}
<li><a>Staff</a>
<ul>
<li><a href="/medical/">Medical</a></li>
<li><a href="/admin/">Admin</a></li>
<li><a href="/feedback/show.html">View Feedback</a></li>
<li><a href="/attachments/">File Attachments</a></li>
</ul>
{% endif %}

{% if user.is_authenticated %}
<li><a href="/logout.html">Logout</a></li>
<!-- <li>You are signed in as {{ user.first_name }} {{ user.last_name }}.</li> -->
{% endif %}
</ul>
