{# Parameters #}
{# username (string) #}
{#   Either "" indicating that the user is not logged in, or the user name in <first name> <last name> form. #}
{# menuid (integer) #}
{#   The id of the level-I menu (which group of pages is being viewed) #}
{# submenuid (integer) #}
{#   The id of the submenu page being viewed. #}

<ul id="submenu">
{% if flatpage %}
  <li><a href="/">Welcome</a></li>
  <li class="{% ifequal flatpage.title "Learning Auslan" %}selected{% endifequal %}"><a href="/about/learn/">Learning Auslan</a></li>

  <li class="{% ifequal flatpage.title "The Auslan Archive and Corpus" %}selected{% endifequal %}"><a href="/about/corpus/">Auslan Archive and Corpus</a></li>
  <li class="{% ifequal flatpage.title "Medical Signbank" %}selected{% endifequal %}"><a href="/about/medicalsignbank/">Medical Signbank</a></li>
 
  <li class="{% ifequal flatpage.title "History of Auslan" %}selected{% endifequal %}"><a href="/about/history/">History of Auslan</a></li>
  <li class="{% ifequal flatpage.title "Acknowledgements" %}selected{% endifequal %}"><a href="/about/acknowledgements/">Acknowledgements</a></li>
{% endif %}
{% ifequal menuid 1 %}
  <li class="{% ifequal submenuid 1 %}selected{% endifequal %}"><a href="/">Welcome</a></li>
  <li class="{% ifequal flatpage.title "Learning Auslan" %}selected{% endifequal %}"><a href="/about/learn/">Learning Auslan</a></li>

  <li class="{% ifequal flatpage.title "The Auslan Archive and Corpus" %}selected{% endifequal %}"><a href="/about/corpus/">Auslan Archive and Corpus</a></li>
  <li class="{% ifequal flatpage.title "Medical Signbank" %}selected{% endifequal %}"><a href="/about/medicalsignbank/">Medical Signbank</a></li>
 
  <li class="{% ifequal flatpage.title "History of Auslan" %}selected{% endifequal %}"><a href="/about/history/">History of Auslan</a></li>
  <li class="{% ifequal flatpage.title "Acknowledgements" %}selected{% endifequal %}"><a href="/about/acknowledgements/">Acknowledgements</a></li>
{% endifequal %}
{% ifequal menuid 3 %}
  <li class="{% ifequal submenuid 1 %}selected{% endifequal %}"><a href="/fingerspellingtwohanded.html">Full Two-Handed Alphabet</a></li>
  <li class="{% ifequal submenuid 2 %}selected{% endifequal %}"><a href="/fingerspellingonehanded.html">ASL One-Handed Alphabet</a></li>
{% endifequal %}
{% ifequal menuid 5 %}
  <li class="{% ifequal submenuid 1 %}selected{% endifequal %}"><a href="/feedback/">Feedback</a></li>
  <li class="{% ifequal submenuid 2 %}selected{% endifequal %}"><a href="/feedback/missingsign.html">Report a Missing Sign</a></li>
  <li class="{% ifequal submenuid 3 %}selected{% endifequal %}"><a href="/feedback/generalfeedback.html">General Feedback</a></li>
{% endifequal %}
</ul>

<!--
            <tr>
              <td></td>
              <td colspan="3" class="asbMenuL2">
{% ifequal menuid 1 %}
  {% ifequal submenuid 1 %}
                <span class="asbMenuL2ItemCurrent">Welcome</span>
  {% else %}
                <a class="asbMenuL2Item" href="/">Welcome</a>
  {% endifequal %}
                &nbsp;&nbsp;&nbsp;
  {% ifequal submenuid 2 %}
                <span class="asbMenuL2ItemCurrent">History of Auslan</span>
  {% else %}
                <a class="asbMenuL2Item" href="/about/history/">History of Auslan</a>
  {% endifequal %}
                &nbsp;&nbsp;&nbsp;
  {% ifequal submenuid 3 %}
                <span class="asbMenuL2ItemCurrent">Acknowledgements</span>
  {% else %}
                <a class="asbMenuL2Item" href="/about/acknowledgements/">Acknowledgements</a>
  {% endifequal %}
{% endifequal %}

{% ifequal menuid 3 %}
  {% ifequal submenuid 1 %}
                <span class="asbMenuL2ItemCurrent">Full Two-Handed Alphabet</span>
  {% else %}
                <a class="asbMenuL2Item" href="/fingerspellingtwohanded.html">Full Two-Handed Alphabet</a>
  {% endifequal %}
                &nbsp;&nbsp;&nbsp;
  {% ifequal submenuid 2 %}
                <span class="asbMenuL2ItemCurrent">ASL One-Handed Alphabet</span>
  {% else %}
                <a class="asbMenuL2Item" href="/fingerspellingonehanded.html">ASL One-Handed Alphabet</a>
  {% endifequal %}
{% endifequal %}

{% ifequal menuid 5 %}
  {% ifequal submenuid 1 %}
                <span class="asbMenuL2ItemCurrent">Feedback</span>
  {% else %}
                <a class="asbMenuL2Item" href="/feedback/">Feedback</a>
  {% endifequal %}
                &nbsp;&nbsp;&nbsp;
  {% ifequal submenuid 2 %}
                <span class="asbMenuL2ItemCurrent">Report a Missing Sign</span>
  {% else %}
                <a class="asbMenuL2Item" href="/feedback/missingsign.html">Report a Missing Sign</a>
  {% endifequal %}
                &nbsp;&nbsp;&nbsp;
  {% ifequal submenuid 3 %}
                <span class="asbMenuL2ItemCurrent">General Feedback</span>
  {% else %}
                <a class="asbMenuL2Item" href="/feedback/generalfeedback.html">General Feedback</a>
  {% endifequal %}
{% endifequal %}
                &nbsp;
              </td>
            </tr>
            
           -->
