{% extends "baselayout.html" %}

{% block content %}
    
    <!-- TITLEBAR -->

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="{% auslan_static_prefix %}img/obj_null.gif" width="1" height="1"><br></td>
        <td class="asbCFrameTopUpperRowCnr"><img src="{% auslan_static_prefix %}img/border_ul.gif" width="10" height="30" alt="" border="0"><br></td>
        <td class="asbCFrameTopUpperRow" width="100%" nowrap> {{ flatpage.title }} &nbsp; </td>
      </tr>
    </table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="{% auslan_static_prefix %}img/obj_null.gif" width="1" height="1"><br></td>
        <td valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr><td class="asbCFrameTopLowerRowLeft" nowrap>
{% block subtitleleft %}
            &nbsp;
{% endblock %}
            </td></tr>

            <!-- SIDEBAR CONTENT -->            
            <tr><td class="asbCFrameLeftUpperBlock" style="padding:0px;">
            
            <img src="{% auslan_static_prefix %}img/history.jpg" width="227" height="190" alt="" border="0"><br>
            </td></tr>
            <tr><td class="asbCFrameLeftLowerBlock">
     <div align="center">"Today Auslan seems to be undergoing a period of rapid change"</div>
    <div class="asbCFrameLeftText"><img src="{% auslan_static_prefix %}img/obj_null.gif" width="1" height="60"></div>
            </td></tr>

            <tr><td><img src="{% auslan_static_prefix %}img/border_lm.gif" width="229" height="10" alt="" border="0"><br></td></tr>
            <tr>
              <td style="padding-top:10px;">
                <img src="{% auslan_static_prefix %}img/logo_institute.gif" width="216" height="39" alt="" border="0">
                <p class="asbCopyright">&copy; RIDBC 2004. All rights reserved.</p>
              </td>
            </tr>
            <tr><td><img src="{% auslan_static_prefix %}img/obj_null.gif" width="1" height="232"><br></td></tr>
          </table>
        </td>
        <td valign="top" width="100%">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr><td class="asbCFrameTopLowerRowRight" nowrap>
{% block subtitleright %}
              &nbsp;
{% endblock %}
            </td></tr>
	    <tr>
              <td class="asbBodyCell">
                <table width="450" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>

                      <!-- CONTENT -->

   {{ flatpage.content }}

                    </td>
                  </tr>
                </table>
                
              </td>
            </tr>
          </table>
        </td>			
      </tr>
    </table>

{% endblock %}

