{% extends "baselayout.html" %}

{% block script %}

/* reveal a comment, possibly including a video */
togglecomment = function() {
  if ($(this).hasClass('showing')) {
    $(this).children('.commentbody').hide();
    $(this).removeClass('showing');
    $(this).find('.indicator').removeClass('ui-icon-minus').addClass('ui-icon-plus');
    console.log(this);
    /* remove any flowplayer instances */
    $(this).find('.feedbackvideo').each(function(){ 
	$(this).find('object').remove(); 
    });
    
  } else {
    $(this).children('.commentbody').show();
    $(this).addClass('showing');
    $(this).find('.indicator').removeClass('ui-icon-plus').addClass('ui-icon-minus');
    console.log(this);
    
    $(this).find('.feedbackvideo').each(function(){ 
	  div = $(this).children('.video');
	  id = div.attr('id');
	  url = div.text();
	  /* why the f*** do I need to do this twice!!! */
	  /* player doesn't appear until the second time with only one call */
	  flowplayer(id, "{% auslan_static_prefix %}flowplayer/flowplayer-3.1.5.swf", url);
	  flowplayer(id, "{% auslan_static_prefix %}flowplayer/flowplayer-3.1.5.swf", url);
	});
    
    
  }
}

jQuery(document).ready(function(){
 
	$('.comment').click(togglecomment);
	
	$('.commentbody').hide();
	
	$('.delete').click(function() {
	  alert("Delete this comment");
	  parent = $(this).parents(".head");
	  parts = parent.attr("id").split("-");
	  kind = parts[0];
	  id = parts[1];
	  url = "/feedback/"+kind+"/delete/"+id;
	  /* perform the deletion with a get request */
	  $.get(url, function(data) {
	     $(parent).parents("li").remove();
	  })
	})
	$('.delete').confirm({
	    msg:'Delete this comment?',
	    timeout:3000
	});	
	
});

{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% auslan_static_prefix %}js/jquery.confirm-1.2.js"></script>

<style type='text/css'> 
   .ui-icon {
       display: inline-block;
       background-color: #fff;
       border: 1px solid black;
   }
   ul {
    list-style: none;
   }
   .comment .head { 
    }
    

.video { 
   width:320px;
   height:240px; 
}
    
</style>
{% endblock %}


{% block content %}

  <h3>General Feedback</h3>
  <ul>
  {% for fb in general %}
    <li class="comment">
	
      <div class="head" id="general-{{fb.id}}">
	<span class="indicator ui-icon ui-icon-plus" title="Show Message">&nbsp;</span>
	{{fb.date|date:"d M Y"}}: 
	{{fb.user.first_name}} {{fb.user.last_name}} (<a href="mailto:{{fb.user.email}}">Email</a>)
	<span class="delete ui-icon ui-icon-trash" title="Delete Message"></span>
      </div>
      
      <div class="commentbody">
	{% if fb.video %}
	 <div class="feedbackvideo">
	   <div class='video' id="general-video-{{fb.id}}">{% auslan_media_prefix %}{{fb.video}}</div>
	 </div>
	{% endif %} 
      
	<p>{{fb.comment}}</p>
      
       </div>
    </li>    
  {% endfor %}
  </ul>
  
  <h3>Sign Feedback</h3>
  <ul>
  {% for fb in signfb %}
    <li class="comment">
    <div class="head" id="sign-{{fb.id}}">
      <span class="indicator ui-icon ui-icon-plus" title="Show Message">&nbsp;</span>
      {{fb.date|date:"d M Y"}}: 
      {{fb.user.first_name}} {{fb.user.last_name}} (<a href="mailto:{{fb.user.email}}">Email</a>)
      on <a href="{{fb.translation.get_absolute_url}}">{{fb.translation}}</a> 
      <span class="delete ui-icon ui-icon-trash" title="Delete Message"></span>
    </div>
    <div class="commentbody">
    <p>{{fb.comment}}</p>     
    <ul> 
	<li>Auslan Sign: {{fb.get_isAuslan_display}}</li>
	<li>Where Used: {{fb.get_whereused_display}}</li>
	<li>Liked: {{fb.get_like_display}}</li>
	<li>Used: {{fb.get_use_display}}</li>
	<li>Use Suggested: {{fb.get_suggested_display}}</li>
	<li>Correct: {{fb.get_correct_display}}</li>
    </ul>
    </div>
    </li>
  {% endfor %}
  
  </ul>
  
  <h3>Missing Sign Feedback</h3>
  <ul>
  {% for fb in missing %}
    <li class="comment">
    
    <div class="head" id="missingsign-{{fb.id}}">
      <span class="indicator ui-icon ui-icon-plus" title="Show Message">&nbsp;</span>
       {{fb.date|date:"d M Y"}}: 
       {{fb.user.first_name}} {{fb.user.last_name}} 
       (<a href="mailto:{{fb.user.email}}">Email</a>) 
      <span class="delete ui-icon ui-icon-trash" title="Delete Message"></span>
    </div>
    <div class="commentbody">
    {% if fb.video %}  
     <div class="feedbackvideo">
       <a href="{% auslan_media_prefix %}{{fb.video}}">Video</a>
     </div>
    {% endif %}
     <dl>
      <dt>Handform</dt><dd>{{fb.get_handform_display}}</dd>
      <dt>Handshape</dt><dd>{{fb.get_handshape_display}}</dd>
      <dt>Alternate Handshape</dt><dd>{{fb.get_althandshape_display}}</dd>
      <dt>Location</dt><dd>{{fb.get_location_display}}</dd>
      <dt>Relative Location</dt><dd>{{fb.get_relativelocation_display}}</dd>
      <dt>Hand Body Contact</dt><dd>{{fb.get_handbodycontact_display}}</dd>
      <dt>Hand Interaction</dt><dd>{{fb.get_handinteraction_display}}</dd>
      <dt>Direction</dt><dd>{{fb.get_direction_display}}</dd>
      <dt>Movement Type</dt><dd>{{fb.movementtype}}</dd>
      <dt>Small Movement</dt><dd>{{fb.smallmovement}}</dd>
      <dt>Repetition</dt><dd>{{fb.repetition}}</dd>
      <dt>Meaning</dt><dd>{{fb.meaning}}</dd>
      <dt>Comments</dt><dd>{{fb.comments}}</dd>
     </dl>
    </div>
    
    </li>          
  {% endfor %}
  </ul>

{% endblock %}